<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리</title>
    <link rel="stylesheet" href="/css/admin/memberShipMm.css">
    <script defer src="/js/admin/memberShipMm.js"></script>
</head>
<body>

<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->

    <div class="main-nav-container5">
        <ul>
            <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
            <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
            <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
            <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
        </ul>
</div>

    <div class="main-container">

        <div class="main-content">
            <!-- <img class="main-content-title img" src="/img/master.jpg" alt=""> -->
                <div class="main-content-title">회원 정보 관리

                </div>
                
                <div class="main-content-list">


                <div class="content-search">
                    <div class="search-1">
                    <div class="main-box3-searchbox">
                        <span class="search-s">※ 검 색  : </span>
                        <select name="cate" class="cate">
                            <option value="name">이름</option>
                            <option value="counselor">상담사</option>
                            <option value="member">일반회원</option>
                        </select>
                        <input type="text" name="keyword" class="keyword">
                        <button type="button" class="btn-search">검 색</button>
                    </div>
                    </div>
                </div>

                <div class="table-wrap">
                    <table class="table-container">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>이메일</th>
                            <th>이름</th>
                            <th>가입일</th>
                            <th>상태</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody class="content">
<!--                        <th:block th:each="user, iterStat : ${userList}">-->
<!--                            <tr th:if="${iterStat.index < 10}">-->
<!--                                <td th:text="${user.userNumber}"></td>-->
<!--                                <td th:text="${user.userEmail}"></td>-->
<!--                                <td th:text="${user.userName}"></td>-->
<!--                                <td th:text="${user.userJoindate}"></td>-->
<!--                                <td>-->
<!--                                    <span th:if="${user.userLevel == 1}">일반회원</span>-->
<!--                                    <span th:if="${user.userLevel == 2}">무료상담사</span>-->
<!--                                    <span th:if="${user.userLevel == 3}">유료상담사</span>-->
<!--                                </td>-->

<!--                                <td>-->
<!--                                    <button class="td-button" type="button" th:data-number="${user.userNumber}">탈퇴</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </th:block>-->
                        </tbody>
                    </table>
                </div>
                </div>
            <!-- 페이징 처리 -->
                <div class="page-container">
                  <ul class="page-box">

                  </ul>
              </div>

            <!-- 페이징 처리 끝-->
        </div>
    </div>


<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
</script>

</body>
</html>