<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리</title>
    <link rel="stylesheet" href="/css/admin/memberShipMm.css">
    <script defer src="/js/admin/memberShipMm.js"></script>
</head>
<body>

<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->

    <div class="main-nav-container5">
        <ul>
            <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
            <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
            <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
            <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
        </ul>
</div>

    <div class="main-container">

        <div class="main-content">
            <!-- <img class="main-content-title img" src="/img/master.jpg" alt=""> -->
                <div class="main-content-title">회원 정보 관리

                </div>
                
                <div class="main-content-list">


                <div class="content-search">
                    <div class="search-1">
                        
                    <div class="main-box3-searchbox">
                        <span class="search-s">※ 검 색  : </span>
                        <select name="search-target" id="">
                            <option value="title">이름</option>
                            <option value="name">상담사</option>
                            <option value="name">일반회원</option>
                        </select>
                        <input type="text">
                        <button class="">검 색</button>
                    </div>

                    </div>
                </div>


                        <th:block th:each="user : ${userList}">
                            <table>
                                <th>번호</th>
                                <th>이메일</th>
                                <th>이름</th>
                                <th>가입일</th>
                                <th>상태</th>
                                <th>관리</th>
                                <tr>
                                    <td th:text="${user.userNumber}"></td>
                                    <td th:text="${user.userEmail}"></td>
                                    <td th:text="${user.userName}"></td>
                                    <td th:text="${user.userJoindate}"></td>
                                    <td th:text="${user.userLevel}"></td>
                                    <td>
                                        <button class="td-button" type="button" onclick="call_confirm()">탈퇴</button>
                                    </td>
                                </tr>
                            </table>
                        </th:block>

                </div>

                <div class="paging-container">
                  <ul>
                      <li><a href="">&lt; 이전</a></li>
                      <li><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">다음 &gt;</a></li>
                  </ul>
              </div>


            
        </div>
    </div>


<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
</body>
</html>