<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.redmedicine.domain.dto.UserDto" alias="userDto"/>
        <typeAlias type="com.example.redmedicine.domain.dto.CounselorDto" alias="counselorDto"/>
        <typeAlias type="com.example.redmedicine.domain.dto.DiaryDto" alias="diaryDto"/>

        <typeAlias type="com.example.redmedicine.domain.vo.CounselorVo" alias="counselorVo"/>
        <typeAlias type="com.example.redmedicine.domain.vo.UserVo" alias="userVo"/>

<!--        <typeAlias type="com.example.redmedicine.domain.vo.Criteria" alias="criteria"/>-->
    </typeAliases>
</configuration>