<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 후 헤더</title>
    <link rel="stylesheet" href="../css/afterLoginHeader.css">
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="../img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="">힐링음악</a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><a href="">자가진단테스트</a></li>
                        <li><a href="">비대면상담받기</a></li>
                        <li><a href="">상담사등록</a></li>
                        <li><a href="">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <div>
                        <a href="" class="loginName">이지윤<span>님</span></a>
                    </div>  
                    <div class="myList">
                        <a href="">내 글 목록</a>
                        <a href="">회원정보 수정</a>
                        <a href="">상담사 등록</a>
                        <a href="">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>