<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>footer</title>
</head>
<body>
    <!-- =====풋터 시작===== -->
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="/html/terms.html">이용약관</a></div>
                <div class="container2-01-content"><a href="/html/privacy.html">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
    <!-- =====풋터 종료====== -->
</body>
</html>