<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>header</title>
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="/img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="">힐링음악</a></li>
                        <li><a href="/html/notice.html">커뮤니티</a></li>
                        <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="">비대면상담받기</a></li>
                        <li><a href="/html/index.html">상담사등록</a></li>
                        <li><a href="/html/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--=======헤더 종료=======-->
</body>
</html>