<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담센터찾기</title>
    <link rel="stylesheet" href="/css/main/map.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icosn" sizes="16x16">
</head>
<body>
  <div id="wrapper">
  <!-- 헤더 시작-->
  <header class="header" th:replace="fragments/header :: header"></header>
  <!-- 헤더 종료-->

    <div class="main-nav-container5">
        <ul>
            <!-- <li><a href="/html/map.html" id="main-nav-button">상담센터찾기</a></li> -->
            <li><a href="/html/bipolarDisorder" id="main-nav-button"></a></li>
            <li><a href="/html/anxiety" id="main-nav-button"></a></li>
            <li><a href="/html/stress" id="main-nav-button"></a></li>
        </ul>
</div>

        <div class="main-content">
            <div class="main-content-contaniner">

                <!-- <div class="main-content-title">상담 센터 찾기</div> -->

                <div class="main-content-title">
                    <div class="title-info">
                        <div class="main-content-title-text01">상담 센터 찾기</div>
                        <div class="main-content-title-text02">
                            
                        </div>
                    </div>
                    <img src="/img/map.png" alt="">
                </div>




                <div class="main-content-list">


                    <div class="main-box3-searchbox">


                <div class="container-section2">

                  <form onsubmit="searchPlaces(); return false;">
                      <img class="search-img" src="/img/glass.png">
                      <input type="text" value="노원역" id="keyword" size="15" class="main-container-up-section2-searchbox"> 
                      <button class="main-container-up-section2-button" type="submit" id="map-btn">검색</button>
                  </form>
              </div>   
              <div class="container-section3">
                  <div>
                      <div id="menu_wrap" class="bg_white">
                         <div class="placelist"><ul id="placesList"></ul></div> 
                          <div id="pagination"></div>
                      </div>
                  </div>
                  <div id="map"></div>
              </div>


                </div>

        
    </div>
</div>



<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script defer src ="/js/main/map.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ae95d73b26d78be40345423aca839fb3&libraries=services"></script>
</html>