<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <link rel="stylesheet" href="/css/music.css">
</head>
<body>
    <!-- 헤더 시작-->
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="/img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="">힐링음악</a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><a href="">자가진단테스트</a></li>
                        <li><a href="">비대면상담받기</a></li>
                        <li><a href="">상담사등록</a></li>
                        <li><a href="">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 헤더 종료-->
    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
        
        </div>
        <div class="main-content">   
            <div class="main-content-contaniner1">
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe width="300 " height="200" 
                        src="https://www.youtube.com/embed/ZQWrleq-NhQ?si=Q7TJ9kOeSrAUV96H" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen class="main-youtube"></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>마음이 편안해지는 힐링,휴식음악,모닥불 소리,스트레스 해소음악,명상음악</strong></p>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe class="main-youtube" width="300" height="200" src="https://www.youtube.com/embed/Gg8pB9-6T8g?si=bLI_B-2KMM5XO2u_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>휴식을 위한 시간 힐링 음악,편안한 음악,스트레스 해소음악,빗소리</strong></p>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe class="main-youtube" width="300" height="200" src="https://www.youtube.com/embed/P8_8C2kA1WY?si=7NqTwl5W0gQmPaxO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>마음의 휴식을 위한 힐링음악 편안한 피아노 음악ㅣ독서음악,공부음악,명상음악</strong></p>
                    </div>
                </div>
            </div>
            <div class="main-content-contaniner1">
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe width="300 " height="200" 
                        src="https://www.youtube.com/embed/ZQWrleq-NhQ?si=Q7TJ9kOeSrAUV96H" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen class="main-youtube"></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>마음이 편안해지는 힐링,휴식음악,모닥불 소리,스트레스 해소음악,명상음악</strong></p>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe class="main-youtube" width="300" height="200" src="https://www.youtube.com/embed/Gg8pB9-6T8g?si=bLI_B-2KMM5XO2u_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>휴식을 위한 시간 힐링 음악,편안한 음악,스트레스 해소음악,빗소리</strong></p>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe class="main-youtube" width="300" height="200" src="https://www.youtube.com/embed/P8_8C2kA1WY?si=7NqTwl5W0gQmPaxO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>마음의 휴식을 위한 힐링음악 편안한 피아노 음악ㅣ독서음악,공부음악,명상음악</strong></p>
                    </div>
                </div>
            </div>
            <div class="main-content-contaniner1">
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe width="300 " height="200" 
                        src="https://www.youtube.com/embed/ZQWrleq-NhQ?si=Q7TJ9kOeSrAUV96H" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen class="main-youtube"></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>마음이 편안해지는 힐링,휴식음악,모닥불 소리,스트레스 해소음악,명상음악</strong></p>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe class="main-youtube" width="300" height="200" src="https://www.youtube.com/embed/Gg8pB9-6T8g?si=bLI_B-2KMM5XO2u_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>휴식을 위한 시간 힐링 음악,편안한 음악,스트레스 해소음악,빗소리</strong></p>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-up">
                        <iframe class="main-youtube" width="300" height="200" src="https://www.youtube.com/embed/P8_8C2kA1WY?si=7NqTwl5W0gQmPaxO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="main-container-section1-down">
                        <p><strong>마음의 휴식을 위한 힐링음악 편안한 피아노 음악ㅣ독서음악,공부음악,명상음악</strong></p>
                    </div>
                </div>
            </div>
        </div>
    <!-- 메인 끝-->
    <!-- 후터 시작-->
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="">이용약관</a></div>
                <div class="container2-01-content"><a href="">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
    <!-- 후터 끝-->
</body>
</html>