<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/counselor/pay/payment.css">
    <title>payment</title>
    <script defer src="/src/main/resources/static/js/counselor/pay/payment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="/src/main/resources/templates/main/index.html"><img src="/src/main/resources/img/logo.png" alt="로고"></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="/src/main/resources/templates/main/music.html">힐링음악</a></li>
                        <li><a href="/src/main/resources/templates/board/notice.html">커뮤니티</a></li>
                        <li><a href="/src/main/resources/templates/test/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="/src/main/resources/templates/counselor/pay/payMate.html">비대면상담받기</a></li>
                        <li><a href="/src/main/resources/templates/counselor/pay/Registration.html">상담사등록</a></li>
                        <li><a href="/src/main/resources/templates/main/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="/src/main/resources/templates/user/join.html">로그인</a></li>
                        <li><a href="/src/main/resources/templates/user/login.html">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- 헤더 종료 -->
<!-- payment페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="payment-edge">
    <div class="img-container">
        <img src="/src/main/resources/img/payment.jpg" alt="결제 이미지"
        style="width: 600px; height: 600px; border-radius: 10px;">
    </div>

    <div class="payment-container">
        <div class="payment-box01">
            <div class="pay-title"><h2>월결제</h2></div>
            <div class="pay-price"><strong>50,000원</strong></div>
        </div>
        <div class="payment-box02">
            <div class="pay-name">월결제</div>
            <div class="pay-amount">
                <div class="pay-count">
                    <button id="increase"><strong>+</strong></button>
                    <div><span id="number"><strong>1</strong></span></div>
                    <button id="decrease"><strong>-</strong></button>
                </div>
                <div class="pay-add"><strong>+50000원</strong></div>
            </div>
        </div>
        <div class="payment-box03">
            <div class="pay-sumtitle"><strong>총 금액</strong></div>
            <div class="pay-sum"><h2><span id="price">50000원</span></h2></div>
        </div>
        <div class="payment-box04">
            <button class="payment" id="check_module">결  제</button>
        </div>
    </div>
</main>
<!-- payment페이지 종료 -->
<!-- 풋터 시작 -->
<div class="footer">
    <div class="footer-container1">
        <div class="container1-content">
            <p>(주)MGMG(빨간약)</p>
            <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
            <p>서울특별시 노원구 상계로1길 34 5층</p>
        </div>
    </div>
    <div class="footer-container2">
        <p>ⓒ MGMG All Rights Reserved.</p>
        <div class="container2-01">
            <div class="container2-01-content"><a href="/src/main/resources/templates/main/terms.html">이용약관</a></div>
            <div class="container2-01-content"><a href="/src/main/resources/templates/main/privacy.html">개인정보처리방침</a></div>
        </div>
    </div>
</div>
<!-- 풋터 종료 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/src/main/resources/static/js/counselor/pay/payment.js"></script>
</body>
</html>