<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/counselor/pay/payment.css">
    <title>payment</title>
    <script defer src="/js/counselor/pay/payment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
<!-- payment페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="payment-edge">
    <div class="img-container">
        <img src="/img/payment.jpg" alt="결제 이미지"
        style="width: 600px; height: 600px; border-radius: 10px;">
    </div>

    <div class="payment-container">
        <div class="payment-box01">
            <div class="pay-title"><h2>월결제</h2></div>
            <div class="pay-price"><strong>50,000원</strong></div>
        </div>
        <div class="payment-box02">
            <div class="pay-name">월결제</div>
            <div class="pay-amount">
                <div class="pay-count">
                    <button id="increase"><strong>+</strong></button>
                    <div><span id="number"><strong>1</strong></span></div>
                    <button id="decrease"><strong>-</strong></button>
                </div>
                <div class="pay-add"><strong>+50000원</strong></div>
            </div>
        </div>
        <div class="payment-box03">
            <div class="pay-sumtitle"><strong>총 금액</strong></div>
            <div class="pay-sum"><h2><span id="price">50000원</span></h2></div>
        </div>
        <div class="payment-box04">
            <button class="payment" id="check_module">결  제</button>
        </div>
    </div>
</main>
<!-- payment페이지 종료 -->
<!-- =====풋터 시작===== -->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- =====풋터 종료====== -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/counselor/pay/payment.js"></script>
</body>
</html>