<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유료 상담사</title>
    <link rel="stylesheet" href="/css/payMate.css">
</head>
<body>
    <!-- 헤더 시작-->
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="/img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="">힐링음악</a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><a href="">자가진단테스트</a></li>
                        <li><a href="">비대면상담받기</a></li>
                        <li><a href="">상담사등록</a></li>
                        <li><a href="">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 헤더 종료-->
    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
            <ul>
                <li><a href="/html/matemainfree.html" id="main-nav-button">무료 상담사</a></li>
                <li><a href="/html/matemainpay.html" id="main-nav-button">유료 상담사</a></li>
            </ul>
        </div>
        <div class="main-content">   
            <div class="main-content-contaniner1">
                <div class="main-container-section1">
                    <div class="main-container-section1-img">
                        <img src="https://p9kr-stage-public.s3.ap-northeast-2.amazonaws.com/counselor/hd/1001-211129.jpg"
                         alt="" width="100%" height="200px"  class="img-counselor">
                    </div>

                    <div class="main-container-section1-info">
                        <div class="main-container-section1-info-up">
                            <div class="counselor-name">
                                <b>노의진</b>
                            </div>
                            <div class="counselor-flower">
                                <img src="/img/flower.png" alt="목화꽃" style="width: 17px; height: 17px; margin-top: 15px;">
                            </div>
                        </div>
                        <div class="main-container-section1-info-down">
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    경력
                                </div>
                                <div class="counselor-down-section1-right">
                                    10년
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    비용
                                </div>
                                <div class="counselor-down-section1-right">
                                    120,000원 (USD115)
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    대상
                                </div>
                                <div class="counselor-down-section1-right">
                                    성인, 아동/청소년, 부부/커플, 가족
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    영역
                                </div>
                                <div class="counselor-down-section1-right">
                                    중독, 불안, 가정폭력, 상실/애도, 부모교육, 트라우마/PTSD, 관계, 성문제, 영성, 폭력성
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-img">
                        <img src="https://p9kr-stage-public.s3.ap-northeast-2.amazonaws.com/counselor/hd/1008.jpg"
                         alt="" width="100%" height="200px"  class="img-counselor">
                    </div>
                    
                    <div class="main-container-section1-info">
                        <div class="main-container-section1-info-up">
                            <div class="counselor-name">
                                <b>이동현</b>
                            </div>
                            <div class="counselor-flower">
                                <img src="/img/flower.png" alt="목화꽃" style="width: 17px; height: 17px; margin-top: 15px;">
                                <img src="/img/flower.png" alt="목화꽃" style="width: 17px; height: 17px; margin-top: 15px;">
                            </div>
                        </div>
                        <div class="main-container-section1-info-down">
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    경력
                                </div>
                                <div class="counselor-down-section1-right">
                                    15년
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    비용
                                </div>
                                <div class="counselor-down-section1-right">
                                    120,000원 (USD115)
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    대상
                                </div>
                                <div class="counselor-down-section1-right">
                                    성인, 아동/청소년, 부부/커플, 가족
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    영역
                                </div>
                                <div class="counselor-down-section1-right">
                                    강박증, 공황장애, 관계, 기분장애, 부모교육, 분노조절, 불안, 비만, 사회불안증, 상실/애도, 섭식장애, 스트레스 조절, 우울증, 의존성, 자존감, 중독, 직장/학교 스트레스, 충동조절, 코칭, 트라우마/PTSD
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-img">
                        <img src="https://p9kr-stage-public.s3.ap-northeast-2.amazonaws.com/counselor/hd/1025-230308.jpg"
                         alt="" width="100%" height="200px"  class="img-counselor">
                    </div>
                    
                    <div class="main-container-section1-info">
                        <div class="main-container-section1-info-up">
                            <div class="counselor-name">
                                <b>유대훈</b>
                            </div>
                            <div class="counselor-flower">
                                <img src="/img/flower.png" alt="목화꽃" style="width: 17px; height: 17px; margin-top: 15px;">
                                <img src="/img/flower.png" alt="목화꽃" style="width: 17px; height: 17px; margin-top: 15px;">
                                <img src="/img/flower.png" alt="목화꽃" style="width: 17px; height: 17px; margin-top: 15px;">
                            </div>
                        </div>
                        <div class="main-container-section1-info-down">
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    경력
                                </div>
                                <div class="counselor-down-section1-right">
                                    33년
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    비용
                                </div>
                                <div class="counselor-down-section1-right">
                                    120,000원 (USD115)
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    대상
                                </div>
                                <div class="counselor-down-section1-right">
                                    성인, 아동/청소년, 부부/커플, 가족
                                </div>
                            </div>
                            <div class="counselor-down-section">
                                <div class="counselor-down-section1-left">
                                    영역
                                </div>
                                <div class="counselor-down-section1-right">
                                    강박증, 공황장애, 관계, 기분장애, 부모교육, 분노조절, 불안, 비만, 사회불안증, 상실/애도, 섭식장애, 스트레스 조절, 우울증, 의존성, 자존감, 중독, 직장/학교 스트레스, 충동조절, 코칭, 트라우마/PTSD
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-contaniner1">
                <div class="main-container-section1">
                    <div class="main-container-section1-img">
                        <img src="" alt="">
                    </div>

                    <div class="main-container-section1-info">
                        <div class="main-container-section1-info-up">
                            <div class="counselor-name">
                                <b>이 름</b>
                            </div>
                        </div>
                        <div class="main-container-section1-info-down">

                        </div>
                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-img">

                    </div>
                    
                    <div class="main-container-section1-info">

                    </div> 
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-img">

                    </div>
                    
                    <div class="main-container-section1-info">

                    </div>
                </div>
            </div>
            <div class="main-content-contaniner1">
                <div class="main-container-section1">
                    <div class="main-container-section1-img">

                    </div>
                    
                    <div class="main-container-section1-info">

                    </div>
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-img">

                    </div>
                    
                    <div class="main-container-section1-info">

                    </div> 
                </div>
                <div class="main-container-section1">
                    <div class="main-container-section1-img">

                    </div>
                    
                    <div class="main-container-section1-info">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 메인 끝-->
    <!-- 후터 시작-->
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="">이용약관</a></div>
                <div class="container2-01-content"><a href="">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
    <!-- 후터 끝-->
</body>
</html>