<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/counselor/pay/registration.css">
    <script defer src="/js/counselor/pay/registration.js"></script>
    <title>유료상담사등록</title>
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
<div class="main-container">
    <div class="main-nav-container">
        <ul>
            <div th:if="${session.userLevel == 3}">
                <li><a href="/counselor/pay/registration" id="main-nav-button">유료상담사등록</a></li>
            </div>
            <div th:unless="${session.userLevel == 3}">
                <li><a href="/counselor/pay/payment" id="main-nav-button">유료상담사등록</a></li>
            </div>
            <li><a href="/counselor/free/freeRegistration" id="main-nav-button">무료상담사등록</a></li>
        </ul>
    </div>
    <div class="main-content-container">
        <div class="main-content-title">유료 상담사 등록</div>
        <form action="/counselor/pay/registration" class="frm" method="post" enctype="multipart/form-data">
            <table>
                <tr class="content01">
                    <th>슈퍼비전</th>
                    <td><input name="profileSuper" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if(this.value.length > 2) this.value = this.value.substring(0, 2);" type="text" class="content01-input">년</td>
                    <th>상담경력</th>
                    <td><input name="profileCareer" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if(this.value.length > 2) this.value = this.value.substring(0, 2);" type="text" class="content01-input">년</td>
                    <th>세션당 비용</th>
                    <td><input name="profileFee"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" class="content01-input" >원</td>
                </tr>
                <tr class="content01">
                    <th>상담 대상</th>
                    <td colspan="5" class="content01-checkboxes">
                        <label><input type="checkbox" value="성인" class="ch">성인</label>
                        <label><input type="checkbox" value="아동/청소년" class="ch">아동/청소년</label>
                        <label><input type="checkbox" value="가족" class="ch">가족</label>
                        <label><input type="checkbox" value="부부/커플" class="ch">부부/커플</label>
                        <input type="hidden" name="profileTarget" class="num">
                    </td>
                </tr>
                <tr class="content02">
                    <th rowspan="2">상담 영역</th>
                    <td colspan="5"  class="content01-checkboxes">
                        <label><input type="checkbox" value="가정폭력" class="ch1">가정폭력</label>
                        <label><input type="checkbox" value="공황장애" class="ch1">공황장애</label>
                        <label><input type="checkbox" value="관계" class="ch1">관계</label>
                        <label><input type="checkbox" value="분노조절" class="ch1">분노조절</label>
                        <label><input type="checkbox" value="부모교육" class="ch1">부모교육</label>
                        <label><input type="checkbox" value="불안" class="ch1">불안</label>
                    </td>
                </tr>
                <tr class="content02">
                    <td colspan="5" class="content01-checkboxes">
                        <label><input type="checkbox"  value="사회불안증" class="ch1">사회불안증</label>
                        <label><input type="checkbox"  value="산후우울증" class="ch1">산후우울증</label>
                        <label><input type="checkbox"  value="우울증" class="ch1">우울증</label>
                        <label><input type="checkbox"  value="자존감" class="ch1">자존감</label>
                        <label><input type="checkbox"  value="폭력성" class="ch1">폭력성</label>
                        <input type="hidden" name="profileArea" class="num1"><br>
                    </td>
                </tr>
                <tr class="content01">
                    <th>상담 가능 요일</th>
                    <td colspan="5" class="content01-checkboxes">
                        <label><input type="checkbox" value="day1" class="ch2">월</label>
                        <label><input type="checkbox" value="day2" class="ch2">화</label>
                        <label><input type="checkbox" value="day3" class="ch2">수</label>
                        <label><input type="checkbox" value="day4" class="ch2">목</label>
                        <label><input type="checkbox" value="day5" class="ch2">금</label>
                        <label><input type="checkbox" value="day6" class="ch2">토</label>
                        <label><input type="checkbox" value="day0" class="ch2">일</label>
                        <input type="hidden" name="profileDay" class="num2"><br>
                    </td>
                </tr>
                <tr class="content02">
                    <th rowspan="2">상담 가능 시간</th>
                    <td colspan="5" class="content01-checkboxes02">
                    <label><input type="checkbox" value="9" class="ch3" >09:00~10:00</label>
                        <label><input type="checkbox" value="10" class="ch3">10:00~11:00</label>
                        <label><input type="checkbox" value="11" class="ch3">11:00~12:00</label>
                        <label><input type="checkbox" value="12" class="ch3">12:00~13:00</label>
                        <label><input type="checkbox" value="13" class="ch3">13:00~14:00</label>
                        <label><input type="checkbox" value="14" class="ch3">14:00~15:00</label>
                    </td>
                </tr>
                <tr class="content02">
                    <td colspan="5" class="content01-checkboxes02">
                        <label><input type="checkbox" value="15" class="ch3">15:00~16:00</label>
                        <label><input type="checkbox" value="16" class="ch3">16:00~17:00</label>
                        <label><input type="checkbox" value="17" class="ch3">17:00~18:00</label>
                        <label><input type="checkbox" value="18" class="ch3">18:00~19:00</label>
                        <label><input type="checkbox" value="19" class="ch3">19:00~20:00</label>
                        <input type="hidden" name="profileTime" class="num3"><br>
                    </td>
                </tr>
                <tr class="content01">
                    <th>이름</th>
                    <td colspan="5" class="writer"><input type="text" name="userName" id="" th:value="${userName}" readonly></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="5" class="content-text">
                        <div class="content-div">
                            <textarea name="profileContent" id="content">

※자격※


※학위


※소개


※주로 사용하는 상담 기법은 무엇이고 어떤 스타일로 상담을 하시는지 궁금해요.




※상담에서 가장 중요하게 생각하는 부분은 무엇인가요?





※선생님과의 상담을 통해 내담자들은 어떤 도움을 받을 수 있나요?





※내담자분들에게 하고 싶은 말이 있다면?
                            </textarea>
                        </div>
                    </td>
                </tr>
                <tr class="addfile">
                    <th rowspan="2">첨부파일</th>
                    <td colspan="5" class="content01-checkboxes">
                        <span>'png','gif','jpg','jpeg'파일만 업로드가 가능합니다.</span>
                    </td>
                </tr>
                <tr class="addfile">
                    <td colspan="5" class="content01-checkboxes">
                        <input type="file" id="post-image" name="pfFile" accept="image/*" multiple>
                    </td>
                </tr>
            </table>
            <div class="main-buttons">
                <a  th:href="@{/counselor/pay/payMate}" id="main-buttons-button1">취소</a>
                <button class="btn" id="main-buttons-button" type="button">등록</button>
            </div>
        </form>
    </div>
</div>

<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</body>
</html>