@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  
  
  *{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: black;
  }

  /* 헤더 시작 */
  .header{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* height: 120px; */
    /* background-color: antiquewhite; */
  }
  .header-container{
    width: 1200px;
    height: 120px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
  }
  .header-nav1{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 850px;
    height: 120px;
    display: flex;
    /* align-items: center; */
    margin: 0 10px 0 20px;
    /* background-color: pink; */
  }
  
  .logo{
    width: 100px;
    height: 120px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
  }
  .logo img{
    width: 100px;
    height: 100px;
  }
  .nav1{
    width: 650px;
    height: 90px;
    /* background-color: aqua; */
    margin: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .nav1 ul{
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* background-color: yellow; */
  }
  .nav1 ul li{
    margin: 0 10px;
  }
  .header-nav2{
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-family: 'SUITE-Regular';
    font-size: 18px;
    /* align-items: center; */
    /* margin: 0 10px; */
    /* background-color: blueviolet; */
  }
  .nav2-box{
    width: 180px;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
  }
  .header-nav2 ul{
    display: flex;
    list-style: none;
    font-family: 'SUITE-Regular';
    /* background-color: red; */
  }
  .header-nav2 ul li{
    display: flex;
    margin: 0 10px;
    /* background-color: antiquewhite; */
  }
  
  /* 헤더 끝 */
  
  /* 메인 시작 */
  
  .main-container{
    width: 100vw;
    height: 850px;
    /* background-color: #e9f4d9; */
    /* border-top: 0.5px solid rgb(219, 217, 217); */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    align-items: center;
  }
  .main-nav-container{
    width: 100%;
    height: 30px;
    background-color: rgb(249, 147, 37);
  
    display: flex;
    justify-content: center;
  
  }
  
  .main-nav-container ul{
    list-style: none;
    display: flex;
    margin: 0 400px;
    line-height: 30px;
        margin-left: 160px;
  }
  .main-nav-container ul li{
    font-size: 14px;
    margin: 0 10px;
    /* font-weight: bold; */
  }
  #main-nav-button{
    color: white;
  }
  #nav-title{
    margin: 20px 20px;
    font-size: 23px;
    padding: 20px 0;
    font-weight: bold;
  }
  .main-content{
    width: 100%;
    height: 750px;
    margin-top: 30px;
    /* background-color: white; */
  }
  .main-content-contaniner{
    width: 1100px;
    height: 750px;
    margin: 20px auto;
    border-radius: 10px;
    /* padding: 10px 0; */
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .main-content-title{
    margin-left: 30px;
    width: 1000px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    line-height: 120px;
    text-indent: 40px;
    /* background-color: blue; */
  
  
  }
  .content-box{
    margin: auto;
    width: 500px;
    height: 400px;
    padding: 50px;
    /* border: 1px solid #000000; */
    border-top: 1px solid #ffe4cb;
    border-bottom: 1px solid #ffe4cb;
  }
  .main-container-section1{
    width: 100%;
    height: 200px;

    /* border: 1px solid black; */
    border-radius: 2px;
    box-sizing: border-box;
}
.main-container-section1 input:focus{
  border-color: rgb(255, 140, 0);
  outline: none;
}
.main-container-section1 input:focus{
  border-color: #5ac4fd;
}
  .inputid{
    height: 60px;
    width: 100%;
    
    padding: 8px 15px 9px;
    border: 4px solid #ffa958;
    border-radius: 4px;
    box-sizing: border-box;
  
    font-size: 23px;
    line-height: 21px;
  
    display: inline-block;
    justify-content: center;
    align-items: center;
  
    /* border-bottom: white; */
}
.inputpw{
  height: 60px;
  width: 100%;
  
  padding: 8px 15px 9px;
  border: 4px solid #ffa958;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 23px;
  line-height: 21px;

  display: inline-block;
  justify-content: center;
  align-items: center;
}
.btn-login{
  /* margin-top: 40px; */
  width: 100%;
  height: 60px;
  

  background: #ffa958;
  border: 1px solid transparent;
  border-radius: 4px;

  line-height: 20px;
  font-size: 22px;
  font-weight: bold;

  color: #ffffff;

  cursor: pointer;
}
.input-name{
  height: 20px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
.main-container-section2{
    margin-top: 50px;
    width: 100%;
    height: 60px;

    /* border: 1px solid black; */
}

.main-container-section3{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}
.linkjoin{
    margin-left: 5px;
}
.linkfindid{
    margin-right: 5px;
}
.hr-sect {
    
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }

  .main-container-section4{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    border: 1px solid black;
}

.btn-kakao{
  cursor: pointer;
  width: 100%;
  max-width: 500px;
    cursor: pointer;
    
    object-fit: fill;
}


  
  /* 푸터 시작 */
  
  .footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(243, 241, 241);
    font-family: 'SUITE-Regular';
    color: rgb(169, 168, 168);
  }
  .footer-container1{
    margin: 0 auto;
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container1-content{
    margin: 5px 0;
    /* background-color: pink; */
    text-align: center;
  }
  .container1-content p{
    margin-bottom: 3px;
  }
  .footer-container2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .footer-container2 p {
    margin: 8px 0;
  }
  .container2-01{
    display: flex;
  }
  .container2-01-content{
    margin: 8px 10px;
  }
  
  
  