/*공통으로 사용된는 CSS*/
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*공통으로 사용되는 CSS 종료*/

/*===헤더가 시작되는 CSS===*/
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 120px; */
    /* background-color: antiquewhite; */
  
    border-bottom: 1px solid #f1f1f1;
  }
  .header-container{
    width: 1200px;
    height: 120px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
  }
  .header-nav1{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 850px;
    height: 120px;
    display: flex;
    /* align-items: center; */
    margin: 0 10px 0 20px;
    /* background-color: pink; */
  }
  
  .logo{
    width: 100px;
    height: 120px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
  }
  .logo img{
    width: 100px;
    height: 100px;
  }
  .nav1{
    width: 650px;
    height: 90px;
    /* background-color: aqua; */
    margin: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .nav1 ul{
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* background-color: yellow; */
  }
  .nav1 ul li{
    margin: 0 10px;
  }
  .header-nav2{
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-family: 'SUITE-Regular';
    font-size: 18px;
    /* align-items: center; */
    /* margin: 0 10px; */
    /* background-color: blueviolet; */
  }
  .nav2-box{
    width: 180px;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
  }
  .header-nav2 ul{
    display: flex;
    list-style: none;
    font-family: 'SUITE-Regular';
    /* background-color: red; */
  }
  .header-nav2 ul li{
    display: flex;
    margin: 0 10px;
    /* background-color: antiquewhite; */
  }
/*===헤더가 종료되는 CSS===*/
.t-btn{
  cursor: pointer;
}
/*===footer가 시작되는 CSS===*/
.footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(243, 241, 241);
    font-family: 'SUITE-Regular';
    color: rgb(169, 168, 168);
}
.footer-container1{
    margin: 0 auto;
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1-content{
    margin: 5px 0;
    /* background-color: pink; */
    text-align: center;
}
.container1-content p{
    margin-bottom: 3px;
}
.footer-container2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer-container2 p {
    margin: 8px 0;
}
.container2-01{
    display: flex;
}
.container2-01-content{
    margin: 8px 10px;
}
.container2-01-content>a{
  color: rgb(169, 168, 168);
}
/*===footer가 종료되는 CSS===*/
/* 서브 메인 나브바  */
.main-nav-container5{
    width: 100%;
    height: 30px;
    background-color: rgb(249, 147, 37);
  
    display: flex;
    justify-content: center;
  
  }
  
  .main-nav-container5 ul{
    list-style: none;
    display: flex;
    margin: 0 400px;
    line-height: 30px;
    margin-left: -170px;
  }
  .main-nav-container5 ul li{
    font-size: 14px;
    margin: 0 10px;
  }
  #main-nav-button{
    color: white;
  }
  
  #nav-title{
    margin: 20px 20px;
    font-size: 23px;
    padding: 20px 0;
    font-weight: bold;
  }
  .main-nav-container5 ul li :hover{
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    font-weight: bold;
    
  }
  /*  */
/* ===mydaybook 시작!=== */
.daybook{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edge{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
.img-container{
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 250, 240);
}
.img-container-title{/*글 삽입!*/
    width: 500px;
    height: 250px;
    padding: 100px 0 0 100px;
}
.img-container-title>h2{
    font-size: 60px;
    font-family: 'iceJaram-Rg';
}
.img-container-title>p{
    font-size: 18px;
    font-family: 'SUITE-Regular';
}
.img-container-img{
    width: 350px;
    height: 250px;
}
/*여기서부터는 article자리*/
.article-container{
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #ffa958;
    border-radius: 10px;
    margin-top: 50px;
}
.article-container-title{
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.daybook-title{
    width: 495px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #ffa958;
    border-top: 5px solid #ffa958;
    border-left: 5px solid #ffa958;
    border-right: 5px solid #ffa958;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.counselor-title{
    width: 495px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffe0c3;
    border-bottom:  5px solid #ffa958;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
/*지윤님이 만든 일기의 community창 참고 시작*/
.article-container-community{
    width: 1000px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ========= */
.main-content-list{
    margin: 40px auto;
    width: 1000px;
    height: 400px;
    /* background-color: greenyellow; */
}
.main-content-list table{
    width: 950px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    border-top: 0.5px solid silver;
    border-collapse: collapse;
    /* background-color: paleturquoise; */
}
.main-content-list table th{
    height: 40px;
    border-bottom: 1px solid silver;
    background-color: seashell;
}
#main-content-list-title{
    width: 550px;
}
.main-content-list table td{
    border-bottom: 0.5px solid silver;
    /* background-color: yellow; */
}
td>button{
  border: none;
  background-color: white;
  font-size: 16px;
}
/*페이징 처리를 할 공간입니다.*/
.paging-container{
    width: 300px;
    height: 30px;
    margin: 0 auto;
    /* background-color: green; */
} 
.paging-container ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.paging-container ul li{
    margin: 0 5px;
}