<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담게시판</title>
    <link rel="stylesheet" href="/css/board/counselBoard.css">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->

<div class="main-container">
    <div class="main-nav-container">
        <!-- <div class="main-nav"> -->
        <ul>
            <li><a href="/board/notice" id="main-nav-button">공지사항</a></li>
            <li><a href="/board/counselBoard" id="main-nav-button">상담게시판</a></li>
            <li><a href="/diary/list" id="main-nav-button">일기쓰기</a></li>
        </ul>
        <!-- </div> -->
    </div>
    <div class="main-content">
        <div class="main-content-contaniner">
            <div class="main-content-title">
                <div class="title-info">
                    <div class="main-content-title-text01">상담게시판</div>
                    <div class="main-content-title-text02">
                        <div>상담사님께 상담받고 싶은 내용을 자유롭게 올려주세요.</div>
                        <div>모든 게시물은 작성자 본인과 상담사 회원분들만 볼 수 있습니다.</div>
                    </div>
                </div>
                <img src="/img/counseling_img.png" alt="상담 게시판 베너이미지">
            </div>
            <div class="main-content-list">
                <table>
                    <th>번호</th>
                    <th id="main-content-list-title">제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <tr th:each="counselor : ${counselor}">
                        <td th:text="${counselor.counselorNumber}"></td>
                        <td>
                            <a th:href="@{/board/readingCounsel(counselorNumber=${counselor.counselorNumber})}">
                                <h3 class="board-item-title" th:text="${counselor.counselorTitle}">글제목</h3>

                                <!--https://via.placeholder.com/300x200는 이미지가 존제하지 않을경우 존재하는 기본상태 x 표시 이미지-->
                                <div th:if="${counselor.cFileName == null}" class="board-item-image" style="background-image: url(https://via.placeholder.com/25x25)"></div>
                                <div th:unless="${counselor.cFileName == null}" class="board-item-image"
                                     th:style="'background-image: url(/upload/'
                                     + ${counselor.cFileRoute} + '/th_'+ ${counselor.cFileUuid} + '_' + ${counselor.cFileName} +')'"></div>
                            </a>
                        </td>
                        <td th:text="${counselor.userName}">작성자</td>
                        <td th:text="${counselor.counselorDate}">작성일</td>
                    </tr>
                </table>
            </div>
            <!-- 페이징 처리 -->
            <div class="paging-container">
                <ul>
                    <a th:href="@{/board/counselBoard(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
                        <li>&lt 이전</li>
                    </a>

                    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                        <a th:href="@{/board/counselBoard(page=${i})}">
                            <li th:text="${i}" class="page-num active" th:if="${i == pageInfo.criteria.page}"></li>
                            <li th:text="${i}" class="page-num" th:unless="${i == pageInfo.criteria.page}"></li>
                        </a>
                    </th:block>

                    <a th:href="@{/board/counselBoard(page=${pageInfo.endPage+1})}" th:if="${pageInfo.next}">
                        <li>다음 &gt</li>
                    </a>
                </ul>
            </div>

            <!-- 글쓰기 버튼 -->
            <div class="button-container">
                <button type="submit"><a href="/board/writingCounsel" id="writing-button">글쓰기</a></button>
            </div>
        </div>
    </div>
</div>
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
</body>
</html>