<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기쓰기</title>
    <link rel="stylesheet" href="../css/diary.css">
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="/html/index.html"><img src="../img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="/html/music.html">힐링음악</a></li>
                        <li><a href="/html/notice.html">커뮤니티</a></li>
                        <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="/html/matemainfree.html">비대면상담받기</a></li>
                        <li><a href="/html/index.html">상담사등록</a></li>
                        <li><a href="/html/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="/html/login.html">로그인</a></li>
                        <li><a href="/html/join.html">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-nav-container">
            <!-- <div class="main-nav"> -->
                <ul>
                    <li><a href="/html/notice.html" id="main-nav-button">공지사항</a></li>
                    <li><a href="/html/counselBoard.html" id="main-nav-button">상담게시판</a></li>
                    <li><a href="/html/diary.html" id="main-nav-button">일기쓰기</a></li>
                </ul>
            <!-- </div> -->
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">
                    <div class="title-info">
                        <div class="main-content-title-text01">일기쓰기</div>
                        <div class="main-content-title-text02">
                            <div>오늘 하루는 어땠나요? 나의 오늘을 기록해 보세요.</div>
                        </div>
                    </div>
                    <img src="../img/diary_img.png" alt="">
                </div>
                <div class="main-content-list">
                    <table>
                        <th>번호</th>
                        <th id="main-content-list-title">제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>공개여부</th>
                        <tr>
                            <td>1</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>이지윤</td>
                            <td>2023-09-09</td>
                            <td>공개</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>유대훈</td>
                            <td>2023-09-09</td>
                            <td>비공개</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>이지윤</td>
                            <td>2023-09-09</td>
                            <td>공개</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>이동현</td>
                            <td>2023-09-09</td>
                            <td>비공개</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>유대훈</td>
                            <td>2023-09-09</td>
                            <td>공개</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>노의진</td>
                            <td>2023-09-09</td>
                            <td>비공개</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>이지윤</td>
                            <td>2023-09-09</td>
                            <td>공개</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>이동현</td>
                            <td>2023-09-09</td>
                            <td>비공개</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>유대훈</td>
                            <td>2023-09-09</td>
                            <td>공개</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td><a href="/html/readingDiary.html">오늘의 기록</a></td>
                            <td>노의진</td>
                            <td>2023-09-09</td>
                            <td>비공개</td>
                        </tr>
                    </table>
                </div>
                <div class="paging-container">
                    <ul>
                        <li><a href="">&lt; 이전</a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">다음 &gt;</a></li>
                    </ul>
                </div>
                <div class="button-container">
                    <button type="button"><a href="/html/writingDiary.html" id="writing-button">글쓰기</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="/html/terms.html">이용약관</a></div>
                <div class="container2-01-content"><a href="/html/privacy.html">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
</body>
</html>