<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/board/notice.css">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
    <div class="main-container">
        <div class="main-nav-container">
            <!-- <div class="main-nav"> -->
                <ul>
                    <li><a href="/board/notice" id="main-nav-button">공지사항</a></li>
                    <li><a href="/board/counselBoard" id="main-nav-button">상담게시판</a></li>
                    <li><a href="/diary/list" id="main-nav-button">일기쓰기</a></li>
                </ul>
            <!-- </div> -->
        </div>
        <div class="main-content">

            <div class="main-content-contaniner">
                <div class="main-content-title">
                    <div class="title-info">
                        <div class="main-content-title-text01">공지사항</div>
                        <div class="main-content-title-text02">
                            <div>몽글몽글 사이트를 더 편리하게 이용하실 수 있도록 노력할게요!</div>
                        </div>
                    </div>
                    <img src="../img/notice_img.png" alt="">
                </div>
                <div class="main-content-list">
                    <div class="table-wrap">
                        <table>
                            <th width="10%">번호</th>
                            <th width="60%">제목</th>
                            <th width="10%">작성자</th>
                            <th width="20%">작성일</th>
                            <tbody>
                                <tr th:each="notice, i : ${noticeList}">
                                    <td th:text="${i.index+1}"></td>
                                    <td>
                                        <a th:href="@{/notice/detail(noticeNumber=${notice.noticeNumber})}">
                                           <span th:text="${notice.noticeTitle}">제목</span>
                                        </a>
                                    </td>
                                    <td>관리자</td>
                                    <td th:text="${#dates.format(notice.noticeDate,'yyyy-MM-dd')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              <div class="paging-container">
                    <ul>
                        <a th:href="@{/notice/list(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
                            <li>&lt 이전</li>
                        </a>

                        <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                            <a th:href="@{/notice/list(page=${i})}">
                                <li th:text="${i}" class="page-num active" th:if="${i == pageInfo.criteria.page}"></li>
                                <li th:text="${i}" class="page-num" th:unless="${i == pageInfo.criteria.page}"></li>
                            </a>
                        </th:block>

                        <a th:href="@{/notice/list(page=${pageInfo.endPage+1})}" th:if="${pageInfo.next}">
                            <li>다음 &gt</li>
                        </a>
                    </ul>
                </div>
                <div class="buttons">
                    <th:block th:if="${session.userNumber == 0}">
                        <button id="writing-button">글쓰기</button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script defer src="/js/board/notice.js"></script>
</body>
</html>