<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(상세)상담게시판</title>
    <link rel="stylesheet" href="/css/board/readingCounsel.css">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->

<div class="main-container">
    <div class="main-nav-container">
        <!-- <div class="main-nav"> -->
        <ul>
            <li><a href="/board/notice" id="main-nav-button">공지사항</a></li>
            <li><a href="/board/counselBoard" id="main-nav-button">상담게시판</a></li>
            <li><a href="/board/diary" id="main-nav-button">일기쓰기</a></li>
        </ul>
        <!-- </div> -->
    </div>
    <div class="main-content">
        <div class="main-content-contaniner">
            <div class="main-title">상담게시판</div>
<!--                            <form action="/board/readingCounsel" method="get">-->
            <div class="title" name="counselorTitle" id="counselorTitle"
                 th:text="${counselor.counselorTitle}"></div>
            <div class="writer-date">
                <div class="writer" name="userName" id="userName"
                     th:text="${counselor.userName}" ></div>
                <div class="date" name="counselorDate" id="counselorDate"
                     th:text="${counselor.counselorDate}"></div>
            </div>
            <div class="content" >
                <div class="content-text" name="counselorContent" id="counselorContent"
                     th:text="${counselor.counselorContent}" style="white-space: break-spaces"></div>
                <div class="post-images">
                    <!-- 이미지 예시 -->
                    <img src="" alt="" />
                    <img src="" alt="" />
                    <!-- /이미지 예시 -->
                </div>
                <!-- 이미지 -->
<!--                <div class="post-images">-->
<!--                    <div th:if="${counselor.cFileName == null}" class="board-item-image" style="background-image: url(https://via.placeholder.com/25x25)"></div>-->
<!--                    <div th:unless="${counselor.cFileName == null}" class="board-item-image" th:style="'background-image: url(/upload/' + ${counselor.cFileRoute} + '/th_' + ${counselor.cFileUuid} + '_' + ${counselor.cFileName} + ')'"></div>-->
<!--                </div>-->
            </div>
            <div class="buttons">
                <button type="button"><a href="/board/counselBoard" id="list-button">목록</a></button>
                <th:block th:if="${session.userNumber == counselor.userNumber}">
                    <button  class="modify-button" id="modify-button" type="button"
                             th:data-number="${counselor.counselorNumber}"
                            style="cursor: pointer;">수정</button>
                    <button  class="remove-button" id="remove-button" type="button"
                             th:data-number="${counselor.counselorNumber}"
                             style="cursor: pointer;">삭제</button>
                </th:block>
            </div>
<!--                            </form>-->
            <!--===댓글 시작합니다.===-->
            <div class="counsel-comment-box">
                <div class="reply-wrap">
                    <th:block th:if="${session.userNumber != null}">
                        <h3>댓글 작성</h3>
                        <div class="reply-wrap__box">
                            <div class="reply-content__box">
                                <div class="reply-writer" th:text="${session.userName}"></div>
<!--                                th:text="${counselor.userName}"-->
                                <textarea name="cCommentContent" id="reply-content" cols="30" rows="10"></textarea>
                            </div>
                            <div class="reply-btn-wrap">
                                <button type="button" class="btn-reply">작성 완료</button>
                            </div>
                        </div>
                    </th:block>
                    <!-- 댓글 리스트 -->
                    <div class="reply-list-wrap">
                        <!-- 리플 예시 -->
<!--                        <div class="reply">-->
<!--                            <div class="reply-box">-->
<!--                                <div class="reply-box__writer" th:text="${userName}"></div>-->
<!--                                <div class="reply-box__content">내용</div>-->
<!--                            </div>-->
<!--                            <div class="reply-btn-box">-->
<!--                                <span class="reply-btns"></span>-->
<!--                                <div class="reply-btns__box none">-->
<!--                                    <th:block th:if="${session.userNumber == counselor.userNumber}">-->
<!--                                        <button type="button" class="reply-modify-btn"-->
<!--                                                th:data-number="${counselor.counselorNumber}"-->
<!--                                                style="cursor: pointer;">수정</button>-->
<!--                                        <button type="button" class="reply-remove-btn"-->
<!--                                                th:data-number="${counselor.counselorNumber}"-->
<!--                                                style="cursor: pointer;">삭제</button>-->
<!--                                    </th:block>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- /리플 예시 -->
                    </div>
                </div>
            </div>
            <!--===댓글 종료!==-->
        </div>
    </div>
</div>
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<input type="hidden" class="counsel-num" th:value="${counselor.counselorNumber}" >
<!--json을로 가져올 Number가 필요했기에
로그인을 안해도 통신이 잘 될 것!-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">//타임리프 문법을 자바스크립트에서 사용하기 위한 설정
let loginNumber = [[${session.userNumber}]];//타임리프 문법은 [] 2개로 감싸줘야 한다.
</script><!--script session의 선언이 아래것보다 더 위에 위치해야!!!!!!-->
<script type="module" src="/js/board/readingCounsel.js"></script>
<script>
    // 목록 버튼
    $('#list-button').on('click', function (){
        window.location.href = '/board/counselBoard';
    })

    // 수정 버튼
    $('#modify-button').on('click', function (){
        let counselorNumber = $(this).data('number');
        window.location.href = '/board/modifyCounsel?counselorNumber=' + counselorNumber;
    });

    //삭제 버튼
    $('#remove-button').on('click', function () {
        let counselorNumber = $(this).data('number');
        if(confirm("글을 삭제 하시겠습니끼?")){
            window.location.href = '/board/removeCounsel?counselorNumber=' + counselorNumber;
        }
    });

    // detail페이지 이미지 띄우기 처리
    displayAjax();

    function displayAjax(){
        let counselorNumber = $('.counsel-num').val();

        $.ajax({
            url : '/cFiles/imgList',
            type : 'get',
            data : {counselorNumber : counselorNumber},
            success : function (cFileList) {
                let text = '';
                console.log(cFileList);
                cFileList.forEach(file => {
                    let cFileName = file.cfileRoute + '/' + file.cfileUuid + '_' + file.cfileName;
                    console.log(cFileName);
                    text += `<img src="/cFiles/display?cFileName=${cFileName}" data-number=${file.cfileNumber} />`;
                    // <img src="/cFiles/display?cFileName=undefined/undefined_undefined" data-number="undefined">
                    console.log(file);
                });

                $('.post-images').html(text);
            }
        });
    }
</script>
</body>
</html>