<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(상세)일기쓰기</title>
    <link rel="stylesheet" href="/css/board/readingDiary.css">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
    <div class="main-container">
        <div class="main-nav-container">
            <!-- <div class="main-nav"> -->
                <ul>
                    <li><a href="/board/notice" id="main-nav-button">공지사항</a></li>
                    <li><a href="/board/counselBoard" id="main-nav-button">상담게시판</a></li>
                    <li><a href="/diary/list" id="main-nav-button">일기쓰기</a></li>
                </ul>
            <!-- </div> -->
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-title">일기쓰기</div>

                    <div class="title" th:text="${diary.diaryTitle}">오늘의 일기</div>
                    <div class="writer-date">
                        <div class="writer" th:text="${diary.userName}">이지윤</div>
                        <div class="date" th:text="${#dates.format(diary.diaryDate,'yyyy-MM-dd HH:mm')}">2023-09-14</div>
                    </div>
                    <div class="content">
                        <div class="content-text" th:text="${diary.diaryContent}" style="white-space: break-spaces"></div>
                    </div>
                    <div class="private">
                        <div class="private-title">공개여부</div>
                        <div class="private-text">
                            <span th:if="${diary.diaryOpen == '0'}">공개</span>
                            <span th:unless="${diary.diaryOpen == '0'}">비공개</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button id="list-button">목록</button>
                        <th:block th:if="${session.userNumber == diary.userNumber}">
                            <button  id="modify-button" th:data-number="${diary.diaryNumber}">수정</button>
                            <button  id="remove-button" th:data-number="${diary.diaryNumber}">삭제</button>
                        </th:block>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script>
    // 목록 버튼
    $('#list-button').on('click', function (){
        window.location.href = '/diary/list';
    })

    // 수정 버튼
    $('#modify-button').on('click', function (){
        let diaryNumber = $(this).data('number');
        window.location.href = '/diary/modify?diaryNumber=' + diaryNumber;
    });

    //삭제 버튼
    $('#remove-button').on('click', function () {
        let diaryNumber = $(this).data('number');
        if(confirm("글을 삭제 하시겠습니끼?")){
            window.location.href = '/diary/remove?diaryNumber=' + diaryNumber;
        }
    });


</script>
</body>
</html>