<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(상세)일기쓰기</title>
    <link rel="stylesheet" href="../css/readingDiary.css">
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="../img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="/html/music.html">힐링음악</a></li>
                        <li><a href="/html/notice.html">커뮤니티</a></li>
                        <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="/html/matemainfree.html">비대면상담받기</a></li>
                        <li><a href="/html/index.html">상담사등록</a></li>
                        <li><a href="/html/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="/html/login.html">로그인</a></li>
                        <li><a href="/html/join.html">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-nav-container">
            <!-- <div class="main-nav"> -->
                <ul>
                    <li><a href="" id="main-nav-button">공지사항</a></li>
                    <li><a href="" id="main-nav-button">상담게시판</a></li>
                    <li><a href="" id="main-nav-button">일기쓰기</a></li>
                </ul>
            <!-- </div> -->
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-title">일기쓰기</div>
                <form action="">
                    <div class="title">오늘의 일기</div>
                    <div class="writer-date">
                        <div class="writer">이지윤</div>
                        <div class="date">2023-09-14</div>
                    </div>
                    <div class="content">
                        <div class="content-text"></div>
                        <div class="content-img"></div>
                    </div>
                    <div class="buttons">
                        <button><a href="" id="list-button">목록</a></button>
                    </div>
                </form>
                <!-- <div class="reply-container">
                    <div class="reply-writing">
                        <div class="reply-writerName">이지윤</div>
                        <div class="reply-textarea">
                            <textarea name="" id=""></textarea>
                        </div>
                        <div class="reply-button">
                            <button><a href="" id="reply-button">등록</a></button>
                        </div>
                    </div>
                    <div class="reply-reading">
                        <div class="reply-reading-box">
                            <div class="reply-name">유대훈</div>
                            <div class="reply-date">2023-09-16 12:07</div>
                            <div class="reply-content-and-menu">
                                <div class="reply-content">댓글댓글댓글</div>
                                <div class="reply-menu">
                                    <div class="reply-menu-img">
                                        <a href=""><img src="../img/menu (2).png" alt=""></a>
                                    </div>
                                    <div class="reply-menu-contents">
                                        <a href="" id="menu1">수정</a>
                                        <a href="">삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reply-reading-box">
                            <div class="reply-name">유대훈</div>
                            <div class="reply-date">2023-09-16 12:07</div>
                            <div class="reply-content-and-menu">
                                <div class="reply-content">댓글댓글댓글</div>
                                <div class="reply-menu">
                                    <div class="reply-menu-img">
                                        <a href=""><img src="../img/menu (2).png" alt=""></a>
                                    </div>
                                    <div class="reply-menu-contents">
                                        <a href="" id="menu1">수정</a>
                                        <a href="">삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>            
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="">이용약관</a></div>
                <div class="container2-01-content"><a href="">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
</body>
</html>