<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(작성)상담게시판</title>
    <link rel="stylesheet" href="../css/writingCounsel.css">
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="/img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="/html/music.html">힐링음악</a></li>
                        <li><a href="/html/notice.html">커뮤니티</a></li>
                        <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="/html/matemainfree.html">비대면상담받기</a></li>
                        <li><a href="/html/index.html">상담사등록</a></li>
                        <li><a href="/html/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-nav-container">
            <!-- <div class="main-nav"> -->
                <ul>
                    <li><a href="" id="main-nav-button">공지사항</a></li>
                    <li><a href="" id="main-nav-button">상담게시판</a></li>
                    <li><a href="" id="main-nav-button">일기쓰기</a></li>
                </ul>
            <!-- </div> -->
        </div>
        <div class="main-content">
            <div class="main-content-container">
                <div class="content-title-box">
                    <div>상담게시판</div>
                </div>
                <div class="main-content-list">
                    <form action="">
                        <table>
                            <tr class="content-name">
                                <th>이름</th>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr class="content-title">
                                <th>제목</th>
                                <td><input type="text" name="" id="" ></td>
                            </tr>
                            <tr class="content-text">
                                <th>내용</th>
                                <td><textarea name="" id="" ></textarea></td>
                            </tr>
                            <!-- <tr class="addfile">
                                <th rowspan="2">첨부파일</th>
                                <td colspan="2"><span>'png','gif','jpg','jpeg'파일만 업로드가 가능합니다.</span></td>
                            </tr>
                            <tr class="addfile">
                                <td><input type="file" name="" id=""></td>
                            </tr>
                            <tr class="private">
                                <th>공개여부</th>
                                <td>
                                    <input type="radio" name="private" id="">공개
                                    <input type="radio" name="private" id="">비공개
                                </td>
                            </tr> -->
                        </table>
                        <div class="buttons">
                            <button><a href="" id="main-buttons">등록</a></button>
                            <button><a href="" id="main-buttons">취소</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="">이용약관</a></div>
                <div class="container2-01-content"><a href="">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
</body>
</html>