<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bookingDetails02.css">
    <title>bookingDetails02</title>
</head>
<body>
<div class="header">
    <div class="header-container">
        <div class="header-nav1">
            <div class="logo"><a href="/html/index.html"><img src="/img/logo.png" alt="로고"></a></div>
            <div class="nav1">
                <ul>
                    <li><a href="/html/music.html">힐링음악</a></li>
                    <li><a href="/html/notice.html">커뮤니티</a></li>
                    <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                    <li><a href="/html/matemainpay.html">비대면상담받기</a></li>
                    <li><a href="freeRegistration02.html">상담사등록</a></li>
                    <li><a href="/html/map.html">상담센터찾기</a></li>
                </ul>
            </div>
        </div>
        <div class="header-nav2">
            <div class="nav2-box">
                <ul>
                    <li><a href="/html/login.html">로그인</a></li>
                    <li><a href="/html/join.html">회원가입</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 헤더 종료 -->
<!-- councelorProfile 메인 페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="booking">
    <div class="edge">
        <form action="/html/bookingDetails03.html" method="get">
            <div class="agreebox01">
                <h1>상담 예약 사전 동의</h1>
            </div>
            <div class="agerebox02">
                <div class="content01"> 
                    상담 기초자료 입력의 목적은 상담사에게 회원에 대한 기본적인 정보를 공유하여 회원을 위한 상담 세션을 준비하는 데 있습니다. 
                    기초자료에 입력하는 내용들은 민감할 수 있는 개인 정보 즉, 개인적인 프로필 관련 질문, 가족 환경이나 과거 상담 등을 받아 보았는지에 대한 내용 및 건강 관련 내용 등을 포함하고 있습니다.
                    회원에게는 위와 같은 민감한 개인정보 수집 및 이용에 대해 동의하지 않을 권리가 있습니다. 
                    하지만 동의하지 않을 경우 서비스 이용에 제한이 있을 수 있습니다.
                </div>
                <br>
                <div class="agree-check">
                    (필수) 동의합니다.
                    <input type="checkbox" class="checkbox1" id="agreeCheckbox1" required>
                </div>
                <br><br>
            </div>
            <div class="agerebox03">
                <div class="content02">
                    회원이 몽글몽글 및 상담사에게 제공한 개인정보와 상담 내용은 개인정보 보호법에 의해 비밀이 보장됩니다. 
                    하지만 본인 또는 타인에게 위해가 되는 행위를 할 가능성이 현저히 있다고 판단되는 경우에는 회원 및 타인의 안전을 위해 상담사 또는 몽글몽글이 회원의 동의 없이 제3자에게 알리고 필요한 조치를 할 수 있습니다.
                    <br><br>    
                    또한 성공적인 상담을 위해 상담사는 컨설턴트에게 상담 사례에 대해서 자문을 받을 수 있습니다. 
                    이 경우 회원을 특정할 수 있는 신원 정보를 제외하고 상담 상황에서 일어난 일이나 회원의 상황에 대해 컨설턴트 및 집단 컨설팅에 참여한 다른 상담사들과 공유할 수 있습니다. 
                    또한 전반적인 컨설팅의 내용은 학술연구 및 출판 등의 목적으로 사용될 수 있습니다. 
                    회원에게는 동의하지 않을 권리가 있습니다. 
                    하지만 동의하지 않을 경우 서비스 이용에 제한이 있을 수 있습니다.
                </div>
                <br> 
                <div class="agree-check">
                    (필수) 동의합니다.
                    <input type="checkbox" class="checkbox1"  id="agreeCheckbox2" required>
                </div>
                <br><br>
            </div>
            <div class="agerebox04">
                <div class="content03">
                    회원은 상담 과정에서 몽글몽글 및 상담사에 대해 허위 사실을 유포하거나 상담사에게 언어폭력을 가하는 등의 행위를 하지 말아야 하며, 
                    이런 일이 발생할 경우 몽글몽글에 의해 상담이 종결될 수 있음을 인지하고 이에 동의합니다.
                </div>
                <br> 
                <div class="agree-check">
                    (필수) 동의합니다.
                    <input type="checkbox" class="checkbox1" id="agreeCheckbox3" required>
                </div>
                <br>
            </div>
            <br> 
            <div class="agerebox05">
                기초자료는 상담을 처음 예약할 때 한 번만 입력하면 되며, 
                이후에 계정 메뉴를 통해 언제든 수정할 수 있습니다.
            </div>
            <br><br>
            <div class="btn-container">
                <button type="submit" id="nextButton">다음 단계</button>
            </div>
        </form>
    </div>
</main>
<!-- councelorProfile 종료 -->
<!-- 풋터 시작 -->
<div class="footer">
    <div class="footer-container1">
        <div class="container1-content">
            <p>(주)MGMG(빨간약)</p>
            <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
            <p>서울특별시 노원구 상계로1길 34 5층</p>
        </div>
    </div>
    <div class="footer-container2">
        <p>ⓒ MGMG All Rights Reserved.</p>
        <div class="container2-01">
            <div class="container2-01-content"><a href="/html/terms.html">이용약관</a></div>
            <div class="container2-01-content"><a href="/html/privacy.html">개인정보처리방침</a></div>
        </div>
    </div>
</div>
<!-- 풋터 종료 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="../js/bookingDetails02.js"></script>
</body>
</html>