<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bookingDetails03.css">
    <title>bookingDetails03</title>
</head>
<body>
<div class="header">
    <div class="header-container">
        <div class="header-nav1">
            <div class="logo"><a href="/html/index.html"><img src="/img/logo.png" alt="로고"></a></div>
            <div class="nav1">
                <ul>
                    <li><a href="/html/music.html">힐링음악</a></li>
                    <li><a href="/html/notice.html">커뮤니티</a></li>
                    <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                    <li><a href="/html/matemainpay.html">비대면상담받기</a></li>
                    <li><a href="freeRegistration02.html">상담사등록</a></li>
                    <li><a href="/html/map.html">상담센터찾기</a></li>
                </ul>
            </div>
        </div>
        <div class="header-nav2">
            <div class="nav2-box">
                <ul>
                    <li><a href="/html/login.html">로그인</a></li>
                    <li><a href="/html/join.html">회원가입</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 헤더 종료 -->
<!-- councelorProfile 메인 페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="booking">
    <div class="edge">
        <div class="counsel-title"><h2>상담에서 얻고 싶은 것</h2></div>
        <div class="content-content">
            <textarea name=""id="writing-area"></textarea>
            <br>
            <div class="btn-box">
                <!-- 버튼에 type="submit" 추가 -->
                <button type="submit" class="btn-submit" id="submitButton" disabled>전 송</button>
            </div>
        </div>
    </div>
</main>
<!-- councelorProfile 종료 -->
<!-- 풋터 시작 -->
<div class="footer">
    <div class="footer-container1">
        <div class="container1-content">
            <p>(주)MGMG(빨간약)</p>
            <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
            <p>서울특별시 노원구 상계로1길 34 5층</p>
        </div>
    </div>
    <div class="footer-container2">
        <p>ⓒ MGMG All Rights Reserved.</p>
        <div class="container2-01">
            <div class="container2-01-content"><a href="/html/terms.html">이용약관</a></div>
            <div class="container2-01-content"><a href="/html/privacy.html">개인정보처리방침</a></div>
        </div>
    </div>
</div>
<!-- 풋터 종료 -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="../js/bookingDetails03.js"></script>
</body>
</html>