<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/counselor/book/bookingDetails.css">
    <title>bookingDetails</title>
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
<!-- bookingDetails 메인 페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="booking">
    <div class="edge">
        <div class="explanation">
            <h3>세션 시간 안내사항</h3>
            <br>
            <p>세션은 50분 동안 진행됩니다.</p>
        </div>
        <div class="time-selectbox">
            <div class="calender-box">
                <div class="calender-box-title">
                    <h2>상담 일시 선택</h2>
                    <br>
                    <p>날짜와 시간은 대한민국 서울 시간을 표시합니다.</p>
                    <div class="calender-titlebox">
                        <p>날짜 선택</p> 
                    </div>
                </div>
                <!-- 달력이 시작합니다. -->
                <div class="calender-div">
                    <table class="Calendar">
                        <thead>
                            <tr>
                                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                                <td colspan="5">
                                    <span id="calYear"></span>년
                                    <span id="calMonth"></span>월
                                </td>
                                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                            </tr>
                            <tr>
                                <td>일</td>
                                <td>월</td>
                                <td>화</td>
                                <td>수</td>
                                <td>목</td>
                                <td>금</td>
                                <td>토</td>
                            </tr>
                        </thead>
            
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- 달력 종료 -->
            </div>
            <div><h3>시간 선택</h3></div>
            <div class="timebox">
                <div class="btn-time-container"><button class="btn-time" data-time="00:00" value="0" DISABLED>00:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="01:00" value="1" DISABLED>01:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="02:00" value="2" DISABLED>02:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="03:00" value="3" DISABLED>03:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="04:00" value="4" DISABLED>04:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="05:00" value="5" DISABLED>05:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="06:00" value="6" DISABLED>06:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="07:00" value="7" DISABLED>07:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="08:00" value="8" DISABLED>08:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="09:00" value="9">09:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="10:00" value="10">10:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="11:00" value="11">11:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="12:00" value="12">12:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="13:00" value="13">13:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="14:00" value="14">14:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="15:00" value="15">15:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="16:00" value="16">16:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="17:00" value="17">17:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="18:00" value="18">18:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="19:00" value="19">19:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="20:00" value="20">20:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="21:00" value="21" DISABLED>21:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="22:00" value="22" DISABLED>22:00</button></div>
                <div class="btn-time-container"><button class="btn-time" data-time="23:00" value="23" DISABLED>23:00</button></div>
            </div>
        </div>

        <div class="btn-nextpage">
            <a class="nextpage" href="#" onclick="choiceDateAndTime();">다음 단계</a>
        </div>
    </div>


</main>
<!-- bookingDetails 종료 -->
<!-- =====풋터 시작===== -->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- =====풋터 종료====== -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/counselor/book/bookingDetails.js"></script>
</body>
</html>