<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/counselor/book/bookingDetails03.css">
    <title>bookingDetails03</title>
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
<!-- councelorProfile 메인 페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="booking">
    <div class="edge">
        <div class="counsel-title"><h2>상담에서 얻고 싶은 것</h2></div>
        <div class="content-content">
            <form id="bookingForm" action="/counselor/booking" method="post">
                <textarea name="bookContent" id="writing-area" placeholder="내용을 입력해주세요"></textarea>
                <input type="hidden" id="userNumber" name="userNumber" th:value="${session.userNumber}">
                <input type="hidden" id="userCNumber" name="userCNumber">
                <input type="hidden" id="bookDate" name="bookDate">
                <input type="hidden" id="bookTime" name="bookTime">
                <br>
                <div class="btn-box">
                    <button type="submit" class="btn-submit" id="submitButton" disabled>전 송</button>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- councelorProfile 종료 -->
<!-- =====풋터 시작===== -->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- =====풋터 종료====== -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/counselor/book/bookingDetails03.js"></script>
</body>
</html>