<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담 예약 관리</title>
    <link rel="stylesheet" href="/css/counselor/book/counselorBook.css">
    <script defer src="/js/counselor/book/counselorBook.js"></script>
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
<div class="main-nav-container5">
    <ul>
    </ul>
</div>
    <div class="main-container">
        <div class="main-content">
            <!-- <img class="main-content-title img" src="/img/master.jpg" alt=""> -->
                <div class="main-content-title">상담 예약 관리</div>

        <div class="main-content-list">
            <div class="content-search">
                <div class="search-1">
                    <div class="main-box3-searchbox">
                        <span class="search-s">※ 검 색  : </span>
                        <select name="cate" class="cate">
                            <option value="name">이름</option>
                            <option value="date">상담날짜</option>
                            <option value="time">상담시간</option>
                        </select>
                        <input type="text" name="keyword" class="keyword">
                        <button class="btn-search">검 색</button>
                    </div>
                </div>
            </div>
            <div class="table-wrap">
              <table class="table-container">
                  <thead>
                  <tr>
                <th>번호</th>
                <th>이름</th>
                <th>상담날짜</th>
                <th>상담시간</th>
                <th>취소처리</th>
                <th>완료처리</th>
                  </tr>
                  </thead>
                  <tbody class="content">
                  <!-- 모달 창 들어 가는 부분  -->
                  <div class="modal">
                      <div class="modal_body">
                          <strong style="font-size: 30px; ">
                              ${r.userName}
                          </strong>
                          <br><br><br>
                          <hr>
                          <br><br>

                          <span class="modal_span">
            <span style="font-size: 20px;">휴대폰 번호 : ${userPhone}</span>
            <br>
            <br>

            <span style="font-size: 20px;">이메일 : ${userEmail}</span>
            <br>
            <br>
            <br><hr><br><br>
            <strong style="font-size: 20px;">
              상담내용
              </strong>
            <br><br><br>
            <span style="font-size: 20px;">${bookContent}</span>

            <br><br><br><br><br><br><br><br><br>
            <hr>
            </span>
                      </div>
                  </div>
                  <!-- 모달 창 들어 가는 부분 끝 -->
                  <td> <button class="btn-open-popup">${userName}</button></td>
                  </tbody>
                </table>
            </div>
        </div>
            <!-- 페이징 처리 -->
            <div class="page-container">
                <ul class="page-box">
                </ul>
            </div>
            <!-- 페이징 처리 끝-->

        </div>
    </div>


<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
</script>
<script>
    //모달창 js
    const body = document.querySelector('body');
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.btn-open-popup');

    btnOpenPopup.addEventListener('click', () => {
        modal.classList.toggle('show');
        //모달 on

        if (modal.classList.contains('show')) {
            body.style.overflow = 'hidden';
            //모달 off
        }
    });

    modal.addEventListener('click', (event) => { if (event.target === modal) {
        modal.classList.toggle('show');
        // //class를 이용한 모달 on/off

        if (!modal.classList.contains('show')) {
            body.style.overflow = 'auto';
        }
    }
    });
    //모달창 js 끝
</script>
</body>
</html>