<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경하기</title>
    <link rel="stylesheet" href="/css/user/changePw.css">

</head>
<body>

<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->

    <div class="main-nav-container5">
        <ul>
        </ul>
</div>

    <div class="main-container">

        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">비밀번호 변경하기</div>
                <div class="main-content-list">
                  <div class="content-box">
                      <!-- <div class="findid">
                        <a class="findida" href="/html/findId.html">아이디 찾기</a>
                      </div>
                      <div class="findpw">
                        <a class="findpwa" href="/html/findPw.html">비밀번호 찾기</a>
                      </div> -->

                          <div class="div1">

                            <input class="inputpw" type="password" placeholder="새로운 비밀번호" name="userPassword" id="nameInput"
                            th:value="${userPassword}" required>
                            <input class="inputpw2" type="password" placeholder="새로운 비밀번호 확인" id="phoneInput" required>

                          </div>

                          <div class="inputresult" style="display: none;">
                            <strong>
                              비밀번호가 일치하지 않습니다.
                            </strong>

                          </div>

                          <hr style="margin-top: 50px; border:1px solid #ffe4cb;">

                          <button class="idfindbutton" type="button">
                            비밀번호 변경하기
                          </button>

                    </div>

                </div>
            </div>
        </div>
    </div>


<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script defer src="/js/user/changePw.js"></script>
</body>
</html>