<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정 이전 비밀번호 확인 페이지</title>
    <link rel="stylesheet" href="/css/user/checkPw.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icosn" sizes="16x16">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->

<div class="main-nav-container5">
    <ul>
    </ul>
</div>

<!--비밀번호 확인 페이지 시작합니다.-->
<div class="main-container">

    <div class="main-content">
        <div class="main-content-contaniner">
            <div class="main-content-title">비밀번호 확인하기</div>
            <div class="main-content-list">
                <div class="content-box">
                    <form action="/user/checkPw" method="get">
                        <div class="div1">
                            <input class="userPassword" type="password" placeholder="비밀번호를 입력해주세요" id="userPassword" name="userPassword" required>
                        </div>

<!--                        <div class="div1">-->
<!--                            <input class="userId" type="text" placeholder="아이디를 입력하세요" id="userId" name="userId" required>-->
<!--                        </div>-->

                        <hr style="margin-top: 50px; border:1px solid #ffe4cb;">

                        <button class="idfindbutton" type="button">
                            비밀번호 확인하기
                        </button>

<!--                        <button class="idfindbutton" type="submit">-->
<!--                            아이디 확인하기-->
<!--                        </button>-->

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script defer src="/js/user/checkPw.js"></script>
</body>
</html>