<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
    <link rel="stylesheet" href="/css/user/join.css">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
     
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">회원가입</div>
                
                <form class="content-box" action="/user/join" method="post" name="joinForm">
                    <div class="main-container-section1">
                        <div class="input-name">아이디</div>
                        <input class="inputid" type="text" placeholder="아이디"
                        id="userId" name="userId" required/>
                        <span class="check-id"></span><!--CSS로 색변경 유도-->
                        <br>
                        <div class="input-name">비밀번호</div>
                        <input class="inputpw" type="password" placeholder="비밀번호"
                        id="userPassword" name="userPassword" required><br>
                        <div class="input-name">비밀번호확인</div>
                        <input class="inputpw2" type="password" placeholder="비밀번호확인"
                        id="confirm-password" name="confirm-password" required><br>
                        <div class="input-name">이름</div>
                        <input class="inputname" type="test" placeholder="이름"
                        id="userName" name="userName" required><br>
                        <div class="input-name">이메일</div>
                        <input class="inputemail" type="email" placeholder="이메일"
                        id="userEmail" name="userEmail" required><br>

                        <!--일단 전화번호와 인증절차는 button type으로 처리하였음-->
                        <div class="input-name">휴대전화</div>
                        <div>
                            <input class="inputphone" type="text" placeholder="휴대폰번호"
                            id="userPhone" name="userPhone" required>
                            <button class="btn-auth" type="button" id="startTimer">전송</button>
                        </div><br>
                        <div class="main-c-s-d1">
                            <div class="main-time" id="time"></div>
                        </div>
                        <div>
                            <input class="phone-auth" type="text" placeholder="인증번호입력" required>
                            <button class="btn-auth" type="button">인증</button>
                        </div><br>

                        <div class="input-name">생년월일</div>
                        <div class="info" id="info__birth">
                            <select class="box" id="birth-year">
                            <option disabled selected required >출생 연도</option>

                            </select>
                            <select class="box" id="birth-month">
                            <option disabled selected required>월</option>
                            </select>
                            <select class="box" id="birth-day">
                            <option disabled selected required>일</option>
                                <input type="hidden" id="userBirth" name="userBirth"/>
                            </select>


                        </div><br>
                        <div class="input-name">성별</div>
                        <div class="radio-gender">
                            <label for="gender-m" style="cursor: pointer;">
                                <input type='radio' name='userGender' value='M'
                                id="gender-m" required/>남
                            </label>
                            <label for="gender-f" style="cursor: pointer;">
                                <input type='radio' name='userGender' value='F'
                                id="gender-f" required/>여
                            </label>
                        </div>

                    </div>
                    <div class="main-container-section2"><br> 
                        <div class="input-name2">약관 동의</div>
                            <div class="checkbox-agree0">
                                <label for="total-check" style="cursor: pointer;">
                                    <input type="checkbox" value="false" class="section2-checkbox" id="total-check" >
                                    <p class="span-p">전체동의</p><br><br>
                                </label>
                            </div>

<!-- 모달창1 시작 -->
                            
                            <section class="none terms-modal"> 
                                <div class="modal">
                                    <div th:replace="fragments/terms :: terms"></div>
                                </div>
                            </section>
                            <div class="checkbox-agree">
                                <input type="checkbox" value="false" class="main-checkbox" name="check-terms" required>
                                <button type="button" class="btn-open-popup" style="cursor: pointer;">이용약관<p class="span-p">(필수)</p></button>
                            </div>
                            
<!-- 모달창1 끝 -->
<!-- 모달창2 시작-->
                            <section class="none privacy-modal">
                                <div class="modal">
                                    <div th:replace="fragments/privacy :: privacy"></div>
                                </div>
                            </section>
                            <div class="checkbox-agree">
                                <input type="checkbox" value="false" class="main-checkbox" name="check-privacy" required>
                                <button type="button" class="btn-open-popup2" style="cursor: pointer;">개인정보수집 및 이용동의<p class="span-p">(필수)</p></button>
                            </div>
                            <!-- 모달창2 끝-->
                    </div>
                    
                    <div class="main-container-section3">
<!--                        <button class="btn-join" type="submit" onclick="Validation()">회원가입</button>-->
                        <button class="btn-join" type="button" onclick="Validation()" id="join-btn">회원가입</button>
                    </div>
                    <div class="main-container-section4">
                        <a href="/user/login">이미 아이디가 있으신가요? <u>로그인</u></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- 메인 끝-->
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/user/join.js"></script>
</body>
</html>