<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
    <link rel="stylesheet" href="/css/user/join.css">
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
     
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">회원가입</div>
                
                <form class="content-box" action="/user/join" method="post" name="joinForm">
                    <div class="main-container-section1">
                        <div class="input-name">아이디</div>
                        <input class="inputid" type="text" placeholder="아이디"
                        id="userId" name="userId" required/>
                        <span class="check-id"></span><!--CSS로 색변경 유도-->
                        <br>
                        <div class="input-name">비밀번호</div>
                        <input class="inputpw" type="password" placeholder="비밀번호"
                        id="userPassword" name="userPassword" required><br>
                        <div class="input-name">비밀번호확인</div>
                        <input class="inputpw2" type="password" placeholder="비밀번호확인"
                        id="confirm-password" name="confirm-password" required><br>
                        <div class="input-name">이름</div>
                        <input class="inputname" type="test" placeholder="이름"
                        id="userName" name="userName" required><br>
                        <div class="input-name">이메일</div>
                        <input class="inputemail" type="email" placeholder="이메일"
                        id="userEmail" name="userEmail" required><br>
<!--===============================================================================================-->
                        <div class="input-name">휴대전화</div>
                        <div>
                            <input class="inputphone" type="text" placeholder="휴대폰 번호 입력"
                            id="userPhone" name="userPhone" required>
                            <button type="button" class="btn-auth" id="startTimer"
                                    name="numberAuth" value="휴대폰 인증 문자 전송">전송</button>
                        </div>

                        <!--=========-->
                        <div class="inputresult"></div>
                        <!--=========-->
                        <br>
                        <div class="main-c-s-d1">
                            <input class="phone-auth" type="text" placeholder="인증번호를 입력해주세요."
                                   id="inputNum" name="authNumber" required/>
                            <div class="main-time" id="time"></div>
                            <button class="btn-auth" type="button" id="checkNum">인증</button>
                        </div>

                        <br>
<!--===============================================================================================-->
                        <div class="input-name">생년월일</div>
                        <div class="info" id="info__birth">
                            <select class="box" id="birth-year">
                            <option disabled selected required >출생 연도</option>

                            </select>
                            <select class="box" id="birth-month">
                            <option disabled selected required>월</option>
                            </select>
                            <select class="box" id="birth-day">
                            <option disabled selected required>일</option>
                                <input type="hidden" id="userBirth" name="userBirth"/>
                            </select>

                        </div><br>
                        <div class="input-name">성별</div>
                        <div class="radio-gender">
                            <label for="gender-m" style="cursor: pointer;">
                                <input type='radio' name='userGender' value='M'
                                id="gender-m" required/>남
                            </label>
                            <label for="gender-f" style="cursor: pointer;">
                                <input type='radio' name='userGender' value='F'
                                id="gender-f" required/>여
                            </label>
                        </div>

                    </div>
                    <div class="main-container-section2"><br> 
                        <div class="input-name2">약관 동의</div>
                            <div class="checkbox-agree0">
                                <label for="total-check" style="cursor: pointer;">
                                    <input type="checkbox" value="false" class="section2-checkbox" id="total-check" >
                                    <p class="span-p">전체동의</p><br><br>
                                </label>
                            </div>

<!-- 모달창1 시작 -->
                            
                            <section class="none terms-modal"> 
                                <div class="modal">
                                    <div th:replace="fragments/terms :: terms"></div>
                                </div>
                                <div class="inputresult" style="display: none;"></div>
                            </section>
                            <div class="checkbox-agree">
                                <input type="checkbox" value="false" class="main-checkbox" name="check-terms" required>
                                <button type="button" class="btn-open-popup" style="cursor: pointer;">이용약관<p class="span-p">(필수)</p></button>
                            </div>
                            
<!-- 모달창1 끝 -->
<!-- 모달창2 시작-->
                            <section class="none privacy-modal">
                                <div class="modal">
                                    <div th:replace="fragments/privacy :: privacy"></div>
                                </div>
                            </section>
                            <div class="checkbox-agree">
                                <input type="checkbox" value="false" class="main-checkbox" name="check-privacy" required>
                                <button type="button" class="btn-open-popup2" style="cursor: pointer;">개인정보수집 및 이용동의<p class="span-p">(필수)</p></button>
                            </div>
                            <!-- 모달창2 끝-->
                    </div>
                    
                    <div class="main-container-section3">
<!--                        <button class="btn-join" type="submit" onclick="Validation()">회원가입</button>-->
                        <button class="btn-join" type="button" onclick="Validation()" id="join-btn">회원가입</button>
                    </div>
                    <div class="main-container-section4">
                        <a href="/user/login">이미 아이디가 있으신가요? <u>로그인</u></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- 메인 끝-->
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/user/join.js"></script>

<script>
    /*===문자 인증 관련 js 시작===*/
    $('#startTimer').on('click', function (){//전송버튼의 아이디값을 가져와서 클릭 이벤트 생성
        let userPhone = $('.inputphone').val();//폰 번호를 입력받은 input의 정보를 변수userPhone에 저장하겠다

        $.ajax({

            url : '/sms/v1/msgSend',
            type : 'post',//method(요청 방식)
            data : JSON.stringify({ userPhone: userPhone }),//data : 요청 보낼 때 전송할 데이터 -> 내가 smsRestController에서 작성한 메서드의 매개변수를 보내게된다
            //요청 보낼 때 전송할 데이터 JSON형태로 보내야 하는데 관련 메서드가 필요하다
            contentType : 'application/json; charset=utf-8',// dataType : 받는 데이터의 타입 -> 'json'으로 인증번호를 받아야한다.
            success : function () {//성공한다면
                $('.inputresult').css('display','block');//inputresult라는 div css변경 유도
                $('.inputresult').text("입력하신 번호로 인증번호가 발송되었습니다.");//내부에 텍스트까지!
            }

        })

        //타이머 js
        var time = 300; //기준시간 작성
        var min = ""; //분
        var sec = ""; //초

        //setInterval(함수, 시간) : 주기적인 실행
        var x = setInterval(function() {
            //parseInt() : 정수를 반환
            min = parseInt(time/60); //몫을 계산
            sec = time%60; //나머지를 계산

            document.getElementById("time").innerHTML = min + "분" + sec + "초";
            time--;

            //타임아웃 시
            if (time < 0) {
                clearInterval(x); //setInterval() 실행을 끝냄
                document.getElementById("time").innerHTML = "시간초과";
            }
        }, 1000);
        //타이머 js 끝
    })

    /*인증번호 발송 후 이용자가 인증번호를 입력하는 순간*/
    $('#checkNum').on('click', function () {//사용자가 input에 인증번호를 입력 후 인증버튼의 클릭 이벤트!
        let checkNumber = $('#inputNum').val();//가입자가 입력한 값을 value로 받아와 변수checkNumber에 저장하겠다

        let param = {
            checkNumber : checkNumber
        }

        $.ajax({
            url : '/sms/v1/msgCheck',
            type : 'post',
            data : JSON.stringify(param),
            contentType : 'application/json; charset=utf-8',
            success : function (result) {
                console.log(result);

                $('.inputresult').text(result);

                if(result == "인증이 완료되었습니다."){//result의 내용은 sms컨트롤러를 통해서 발현 될 것!
                    // $('#confirm-num').css('display','block');
                    $('.main-time').css('display','none');
                }
            }
        })
    })
    //userPhone : 가입자의 폰번호, checkNumber : 가입자가 입력한 인증번호
    /*===문자 인증 관련 js 종료===*/
</script>

</body>
</html>