<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/user/login.css">
</head>
<body>
    <!-- 헤더 시작-->
    <header class="header" th:replace="fragments/header :: header"></header>
    <!-- 헤더 종료-->

    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
     
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">로그인</div>
                
                <div class="content-box">
                    <form class="login-form" method="post" action="/user/login">
                        <!--post로 지정해야 컨트롤러에서 post로 어노테이션 실행할꺼니까-->
                        <div class="main-container-section1">
                            <div class="input-name">아이디</div>
                            <input class="inputid" type="text" placeholder="아이디"
                            id="userId" name="userId" required><br><br>
                            <div class="input-name">비밀번호</div>
                            <input class="inputpw" type="password" placeholder="비밀번호"
                            id="userPassword" name="userPassword" required>
                        </div>

                        <hr style="margin-top: 70px; border:1px solid #ffe4cb;">

                        <div class="main-container-section2">
                            <button class="btn-login" type="submit">로그인</button>
                        </div>
                    </form>
                    <div class="main-container-section3">
                        <a href="/user/join"><div class="linkjoin">회원가입</div></a>
                        <a href="/user/findId"><div class="linkfindid">아이디ㆍ비밀번호 찾기</div></a>
                    </div>

                    <!-- 카카오 로그인 -->
                    <!-- <div class="hr-sect">또는</div>

                    <div class="main-container-section4">
                        <div class="btn-kakao"><img src="../img/kakao_login.png" alt="" ></div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <!-- 메인 끝-->
    <!-- 후터 시작-->
    <footer class="footer" th:replace="fragments/footer :: footer"></footer>
    <!-- 후터 끝-->
</body>
</html>