<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/myCounselor.css">
    <title>My Counselor</title>
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
<!-- myDaybook 메인 페이지 시작 -->
<div class="main-nav-container5">
    <ul>
        <!-- <li><a href="/html/diagnosis.html" id="main-nav-button">우울증</a></li>
        <li><a href="/html/bipolarDisorder.html" id="main-nav-button">조울증</a></li>
        <li><a href="/html/anxiety.html" id="main-nav-button">불안증</a></li>
        <li><a href="/html/stress.html" id="main-nav-button">스트레스</a></li> -->
    </ul>
</div>
<main class="daybook">
    <div class="edge">
        <div class="img-container">
            <div class="img-container-title">
                <h2>나의 상담록</h2>
                <br>
                <p>나의 상담 내용을 관리해 보세요.</p>
            </div>
            <div class="img-container-img">
                <img src="/img/councelor02.png" alt="내 글 일기장"
                style="width: 300px; height: 250px; margin-right: 150px;">
            </div>
        </div>
        <div class="article-container">
            <div class="article-container-title">
                <div class="daybook-title">
                    <a href="/user/myDaybook"style="color:#a1a1a1;"><h2>나의 일기</h2></a>
                </div>
                <div class="counselor-title">
                    <h2>나의 상담록</h2>
                </div>
            </div>
            <div class="article-container-community">
                <div class="main-content-list">
                    <div class="table-wrap">
                        <table>
                            <thead>
                                <tr>
                                    <th>작성일</th>
                                    <th>제목</th>
                                    <th>공개여부</th>
                                </tr>
                            </thead>
                            <tbody class="content">
                                <th:block th:each="counsel : ${counselorList}">
                                    <tr>
                                        <td th:text="${counsel.counselorDate}"></td>
                                        <td th:text="${counsel.counselorTitle}"></td>
                                        <td>
                                            <span>비공개</span>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- main-content-list 종료합니다. -->
                <!-- 페이징 처리가 들어가는 공간입니다. -->
                <div class="paging-container">
                    <ul>
                        <a th:href="@{/user/myCounselor(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
                            <li>&lt 이전</li>
                        </a>

                        <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                            <a th:href="@{/user/myCounselor(page=${i})}">
                                <li th:text="${i}" class="page-num active" th:if="${i == pageInfo.criteria.page}"></li>
                                <li th:text="${i}" class="page-num" th:unless="${i == pageInfo.criteria.page}"></li>
                            </a>
                        </th:block>

                        <a th:href="@{/user/myCounselor(page=${pageInfo.endPage+1})}" th:if="${pageInfo.next}">
                            <li>다음 &gt</li>
                        </a>
                    </ul>
                </div>
                <!-- 페이징 처리 완료 -->
            </div>
        </div>
    </div>  
</main>
<!-- myDaybook 종료 -->
<!-- =====풋터 시작===== -->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- =====풋터 종료====== -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/src/main/resources/static/js/"></script>
</body>
</html>