<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="/css/mypage.css">
    
</head>
<body>
    <!-- 헤더 시작-->
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="#"><img src="/img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="">힐링음악</a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><a href="">자가진단테스트</a></li>
                        <li><a href="">비대면상담받기</a></li>
                        <li><a href="">상담사등록</a></li>
                        <li><a href="">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 헤더 종료-->
    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
        
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">회원정보 수정</div>
                
                <div class="content-box">
                    <div class="main-container-section1">
                        <div class="input-name">아이디</div>
                        <input class="inputid" type="text" placeholder="아이디" readonly><br>
                        <div class="input-name">수정할 비밀번호</div>
                        <input class="inputpw" type="password" placeholder="비밀번호" ><br>
                        <div class="input-name">비밀번호확인</div>
                        <input class="inputpw2" type="password" placeholder="비밀번호확인" ><br>
                        <div class="input-name">이름</div>
                        <input class="inputname" type="test" placeholder="이름" readonly><br>
                        <div class="input-name">새로운 이메일</div>
                        <input class="inputemail" type="email" placeholder="이메일" ><br>
                        <div class="input-name">휴대전화</div>
                        
                        <div>
                            <input class="inputphone" type="text" placeholder="휴대폰번호" >
                            <button class="btn-auth" type="submit">전송</button>
                        </div><br>
                        <div>
                            <input class="phone-auth" type="text" placeholder="인증번호입력" >
                            <button class="btn-auth" type="submit">인증</button>
                        </div><br>
                        
                        <div class="input-name">새로운 생년월일</div><br>
                        <div class="info" id="info__birth">
                            <select class="box" id="birth-year">
                            <option disabled selected>출생 연도</option>
                            </select>
                            <select class="box" id="birth-month">
                            <option disabled selected>월</option>
                            </select>
                            <select class="box" id="birth-day">
                            <option disabled selected>일</option>
                            </select>
                        </div><br>
                        <div class="input-name">성별</div>
                        <div class="radio-gender">
                            <input type='radio' name='gender' value='male' />남
                            <input type='radio' name='gender' value='female' margin-left="10px"/>여
                        </div>
                    </div>
                    <div class="main-container-section3">
                        <button class="btn-join">취소</button>
                        <button class="btn-join">수정</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 메인 끝-->
    <!-- 후터 시작-->
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="">이용약관</a></div>
                <div class="container2-01-content"><a href="">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
    <!-- 후터 끝-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/mypage.js"></script>
</body>
</html>