<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="/css/user/mypage.css">
    
</head>
<body>
<!-- 헤더 시작-->
<header class="header" th:replace="fragments/header :: header"></header>
<!-- 헤더 종료-->
    <!-- 메인 시작-->
    <div class="main-container">
        <div class="main-nav-container">
        
        </div>
        <div class="main-content">
            <div class="main-content-contaniner">
                <div class="main-content-title">회원정보 수정</div>
                
                <div class="content-box">
                    <div class="main-container-section1">
                        <div class="input-name">아이디</div>
                        <input class="inputid" type="text" placeholder="아이디" readonly><br>
                        <div class="input-name">수정할 비밀번호</div>
                        <input class="inputpw" type="password" placeholder="비밀번호" ><br>
                        <div class="input-name">비밀번호확인</div>
                        <input class="inputpw2" type="password" placeholder="비밀번호확인" ><br>
                        <div class="input-name">이름</div>
                        <input class="inputname" type="test" placeholder="이름" readonly><br>
                        <div class="input-name">새로운 이메일</div>
                        <input class="inputemail" type="email" placeholder="이메일" ><br>
                        <div class="input-name">휴대전화</div>
                        
                        <div>
                            <input class="inputphone" type="text" placeholder="휴대폰번호" >
                            <button class="btn-auth" type="submit">전송</button>
                        </div><br>
                        <div class="main-c-s-d1">
                            <div class="main-time" id="time"></div>
                        </div>
                        <div>
                            <input class="phone-auth" type="text" placeholder="인증번호입력" >
                            <button class="btn-auth" type="submit">인증</button>
                        </div><br>
                        
                        <div class="input-name">새로운 생년월일</div><br>
                        <div class="info" id="info__birth">
                            <select class="box" id="birth-year">
                            <option disabled selected>출생 연도</option>
                            </select>
                            <select class="box" id="birth-month">
                            <option disabled selected>월</option>
                            </select>
                            <select class="box" id="birth-day">
                            <option disabled selected>일</option>
                            </select>
                        </div><br>
                        <div class="input-name">성별</div>
                        <div class="radio-gender">
                            <input type='radio' name='gender' value='male' />남
                            <input type='radio' name='gender' value='female' margin-left="10px"/>여
                        </div>
                    </div>
                    <div class="main-container-section3">
                        <button class="btn-join">취소</button>
                        <button class="btn-join">수정</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 메인 끝-->
<!-- 후터 시작-->
<footer class="footer" th:replace="fragments/footer :: footer"></footer>
<!-- 후터 끝-->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/user/mypage.js"></script>
</body>
</html>