<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <title>header</title>
</head>
<body>
    <div class="header" th:fragment="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="/src/main/resources/templates/main/index.html"><img src="/img/logo.png" alt="로고"></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="/src/main/resources/templates/main/music.html">힐링음악</a></li>
                        <li><a href="/src/main/resources/templates/board/notice.html">커뮤니티</a></li>
                        <li><a href="/src/main/resources/templates/test/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="/src/main/resources/templates/counselor/pay/payMate.html">비대면상담받기</a></li>
                        <li><a href="/src/main/resources/templates/counselor/pay/Registration.html">상담사등록</a></li>
                        <li><a href="/src/main/resources/templates/main/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul th:if="${session.userNumber == null}">
                        <li><a href="/user/login">로그인</a></li>
                        <li><a href="/user/join">회원가입</a></li>
                    </ul>
                    <ul th:unless="${session.userNumber == null}">
                            <li><a href="/user/login">로그인</a></li>
                            <li><a href="/user/join">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--=======헤더 종료=======-->
</body>
</html>