<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <title>header</title>
</head>
<body>
<div class="header" th:fragment="header">
    <div class="header-container">
        <div class="header-nav1">
            <div class="logo"><a href="/main/index"><img src="/img/logo.png" alt="로고"></a></div>
            <div class="nav1">
                <ul>
                    <li><a href="/main/music">힐링음악</a></li>
                    <li><a href="/board/notice">커뮤니티</a></li>
                    <li><a href="/test/diagnosis">자가진단테스트</a></li>
                    <li><a href="/counselor/pay/payMate">비대면상담받기</a></li>
                    <div  th:if="${session.userNumber == null}">
                        <li><a href="/user/login">상담사등록</a></li>
                    </div>
                    <div th:unless="${session.userNumber == null}">
                        <li><a href="/counselor/pay/registration">상담사등록</a></li>
                    </div>
                    <li><a href="/main/map">상담센터찾기</a></li>
                </ul>
            </div>
        </div>

        <form class="header-nav2">

            <div class="nav2-box" >

                <div  th:if="${session.userNumber == null}">
                    <a class="nav2-box-a" href="/user/login">로그인</a>
                    <a href="/user/join">회원가입</a>
                </div>


                <div th:unless="${session.userNumber == null}">
                    <div>
                        <a href="" th:text="${session.userName} + ' 님 '" class="loginName"></a>
                    </div>
                    <div class="myList">
                        <a href="/user/myDaybook">내 글 목록</a>
                        <a href="/user/mypage">회원정보 수정</a>
                        <a href="/admin/memberShipMm">회원정보 관리</a>
                        <a href="">상담사 등록</a>
                        <a href="/user/logout">로그아웃</a>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>
<!--=======헤더 종료=======-->
</body>
</html>