<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/freeRegistration.css">
    <title>무료상담사등록02</title>
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-nav1">
                <div class="logo"><a href="/html/index.html"><img src="../img/logo.png" alt=""></a></div>
                <div class="nav1">
                    <ul>
                        <li><a href="/html/music.html">힐링음악</a></li>
                        <li><a href="/html/notice.html">커뮤니티</a></li>
                        <li><a href="/html/diagnosis.html">자가진단테스트</a></li>
                        <li><a href="/html/matemainfree.html">비대면상담받기</a></li>
                        <li><a href="/html/index.html">상담사등록</a></li>
                        <li><a href="/html/map.html">상담센터찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-nav2">
                <div class="nav2-box">
                    <ul>
                        <li><a href="/html/login.html">로그인</a></li>
                        <li><a href="/html/join.html">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-nav-container">
             <ul>
                <li><a href="/html/registration.html" id="main-nav-button">유료상담사등록</a></li>
                <li><a href="/html/freeRegistration02.html" id="main-nav-button">무료상담사등록</a></li>
            </ul>
        </div>
        <div class="main-content-container">
            <div class="main-content-title">무료 상담사 등록</div>
            <form action="">
                <table>
                    <tr class="content01">
                        <th>슈퍼비전</th>
                        <td><input type="number" class="content01-input">년</td>
                        <th>상담경력</th>
                        <td><input type="number" class="content01-input">년</td>
                    </tr>
                    <tr class="content01">
                        <th>상담 대상</th>
                        <td colspan="3" class="content01-checkboxes">
                            <input type="checkbox">전체
                            <input type="checkbox">성인
                            <input type="checkbox">아동/청소년
                            <input type="checkbox">가족
                            <input type="checkbox">부부/커플
                        </td>
                    </tr>
                    <tr class="content02">
                        <th rowspan="2">상담 영역</th>
                        <td colspan="3"  class="content01-checkboxes">
                            <input type="checkbox">가정폭력
                            <input type="checkbox">공황장애
                            <input type="checkbox">관계
                            <input type="checkbox">분노조절
                            <input type="checkbox">부모교육
                            <input type="checkbox">불안
                        </td>
                    </tr>
                    <tr class="content02">
                        <td colspan="3" class="content01-checkboxes">
                            <input type="checkbox">사회불안증
                            <input type="checkbox">산후우울증
                            <input type="checkbox">우울증
                            <input type="checkbox">자존감
                            <input type="checkbox">폭력성
                        </td>
                    </tr>
                    <tr class="content01">
                        <th>상담 가능 요일</th>
                        <td colspan="3" class="content01-checkboxes">
                            <input type="checkbox">월
                            <input type="checkbox">화
                            <input type="checkbox">수
                            <input type="checkbox">목
                            <input type="checkbox">금
                            <input type="checkbox">토
                            <input type="checkbox">일
                        </td>
                    </tr>
                    <tr class="content02">
                        <th rowspan="2">상담 가능 시간</th>
                        <td colspan="3" class="content01-checkboxes02">
                            <input type="checkbox">09:00~10:00
                            <input type="checkbox">10:00~11:00
                            <input type="checkbox">11:00~12:00
                            <input type="checkbox">12:00~13:00
                            <input type="checkbox">13:00~14:00
                            <input type="checkbox">14:00~15:00
                        </td>
                    </tr>
                    <tr class="content02">
                        <td colspan="3" class="content01-checkboxes02">
                            <input type="checkbox">15:00~16:00
                            <input type="checkbox">16:00~17:00
                            <input type="checkbox">17:00~18:00
                            <input type="checkbox">18:00~19:00
                            <input type="checkbox">19:00~20:00
                        </td>
                    </tr>
                    <tr class="content01">
                        <th>이름</th>
                        <td colspan="3" class="writer"><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td colspan="3" class="content-text">
                            <textarea name="" id="">
    
※자격※


※학위
                                        

※소개
                                                

※주로 사용하는 상담 기법은 무엇이고 어떤 스타일로 상담을 하시는지 궁금해요.
                                    



※상담에서 가장 중요하게 생각하는 부분은 무엇인가요?
                                    




※선생님과의 상담을 통해 내담자들은 어떤 도움을 받을 수 있나요?
                                




※내담자분들에게 하고 싶은 말이 있다면? 
                            </textarea>
                        </td>
                    </tr>
                    <tr class="addfile">
                        <th rowspan="2">첨부파일</th>
                        <td colspan="3" class="content01-checkboxes">
                            <span>'png','gif','jpg','jpeg'파일만 업로드가 가능합니다.</span>
                        </td>
                    </tr>
                    <tr class="addfile">
                        <td colspan="3" class="content01-checkboxes">
                            <input type="file" name="" id="">
                        </td>
                    </tr>
                </table>
                <div class="main-buttons">
                    <button><a href="/html/index.html" id="main-buttons-button">취소</a></button>
                    <button><a href="/html/index.html" id="main-buttons-button">등록</a></button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container1">
            <div class="container1-content">
                <p>(주)MGMG(빨간약)</p>
                <p>노의진(팀장) 이지윤(부팀장) 이동현 유대훈</p>
                <p>서울특별시 노원구 상계로1길 34 5층</p>
            </div>
        </div>
        <div class="footer-container2">
            <p>ⓒ MGMG All Rights Reserved.</p>
            <div class="container2-01">
                <div class="container2-01-content"><a href="">문의하기</a></div>
                <div class="container2-01-content"><a href="/html/terms.html">이용약관</a></div>
                <div class="container2-01-content"><a href="/html/privacy.html">개인정보처리방침</a></div>
            </div>
        </div>
    </div>
</body>
</html>