@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}



*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}

/* 헤더 시작 */
.header{
  width: 100vw;
  display: flex;
  justify-content: center;
  /* height: 120px; */
  /* background-color: antiquewhite; */
}
.header-container{
  width: 1200px;
  height: 120px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
}
.header-nav1{
  font-family: 'SUITE-Regular';
  font-size: 18px;
  width: 850px;
  height: 120px;
  display: flex;
  /* align-items: center; */
  margin: 0 10px 0 20px;
  /* background-color: pink; */
}

.logo{
  width: 100px;
  height: 120px;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
}
.logo img{
  width: 100px;
  height: 100px;
}
.nav1{
  width: 650px;
  height: 90px;
  /* background-color: aqua; */
  margin: 0 20px ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.nav1 ul{
  display: flex;
  list-style: none;
  /* align-items: flex-end; */
  /* background-color: yellow; */
}
.nav1 ul li{
  margin: 0 10px;
}
.header-nav2{
  width: 180px;
  height: 120px;
  display: flex;
  justify-content: center;
  font-family: 'SUITE-Regular';
  font-size: 18px;
  /* align-items: center; */
  /* margin: 0 10px; */
  /* background-color: blueviolet; */
}
.nav2-box{
  width: 180px;
  height: 90px;
  /* background-color: green; */
  display: flex;
  align-items: flex-end;
}
.header-nav2 ul{
  display: flex;
  list-style: none;
  font-family: 'SUITE-Regular';
  /* background-color: red; */
}
.header-nav2 ul li{
  display: flex;
  margin: 0 10px;
  /* background-color: antiquewhite; */
}

/* 헤더 끝 */

/* 메인 시작 */
.main-content{
  width: 1200px;
  margin : 0 auto;
}

.main-nav-container{
  width: 100%;
  height: 30px;
  background-color: rgb(249, 147, 37);

  display: flex;
  justify-content: center;

}

.main-nav-container ul{
  list-style: none;
  display: flex;
  margin: 0 400px;
  line-height: 30px;
  margin-left: -260px;
}
.main-nav-container ul li{
  font-size: 14px;
  margin: 0 10px;
  text-align: center;
  /* font-weight: bold; */
}
#main-nav-button{
  color: white;
}
/*  */
.counselor-table{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-weight: bold;

  /*width: 100%;*/
  /* 테이블 전체 너비를 100%로 설정 */
  /*table-layout: fixed;*/
  /* 테이블 너비를 고정으로 설정 */
}
tr{
  width: 1200px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-gap: 30px;
}
td{

  /*width: calc(100% / 3);*/
  /* 테이블의 셀을 3개로 나누어 가로로 고르게 배치 */
  /*box-sizing: border-box;*/
  /* 테이블 셀 너비를 내부 패딩과 테두리까지 포함하여 설정 */

  width: 400px;
  height: 500px;

  border: 1px solid rgb(241, 234, 234);
  border-top: white;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgb(216, 214, 214, 0.6);
  border-radius: 10px;
  /*margin: 10px auto;*/

  position: relative
}

td img {
  /*margin-top: -100px; !* 원하는 여백 값을 지정합니다. *!*/
  border-radius: 12px;
}

.counselor-name{
  font-size: 24px;
  display: flex;
  /* margin-left: 20px; */
  margin :30px
}


.left{
  width: 90px;
}

.right{
  /* width: 300px; */
  /* margin-right: 5px; */
}

.divsum{
  /* margin-left: 20px; */
  font-size: 15px;
  margin-top: 26px;
  display: flex;


}

.counselor-table {
  border-spacing: 50px; /* 원하는 간격으로 조절하세요 */


}


/* 푸터 시작 */

.footer{
  width: 100vw;
  height: 130px;
  background-color: rgb(243, 241, 241);
  font-family: 'SUITE-Regular';
  color: rgb(169, 168, 168);
}
.footer-container1{
  margin: 0 auto;
  width: 100%;
  height: 90px;
  border-bottom: 0.5px solid rgb(200, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1-content{
  margin: 5px 0;
  /* background-color: pink; */
  text-align: center;
}
.container1-content p{
  margin-bottom: 3px;
}
.footer-container2{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer-container2 p {
  margin: 8px 0;
}
.container2-01{
  display: flex;
}
.container2-01-content{
  margin: 8px 10px;
}


