@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*===헤더가 시작되는 CSS===*/
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 120px; */
    /* background-color: antiquewhite; */
  
    border-bottom: 1px solid #f1f1f1;
  }
  .header-container{
    width: 1200px;
    height: 120px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
  }
  .header-nav1{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 850px;
    height: 120px;
    display: flex;
    /* align-items: center; */
    margin: 0 10px 0 20px;
    /* background-color: pink; */
  }
  
  .logo{
    width: 100px;
    height: 120px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
  }
  .logo img{
    width: 100px;
    height: 100px;
  }
  .nav1{
    width: 650px;
    height: 90px;
    /* background-color: aqua; */
    margin: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .nav1 ul{
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* background-color: yellow; */
  }
  .nav1 ul li{
    margin: 0 10px;
  }
  .header-nav2{
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-family: 'SUITE-Regular';
    font-size: 18px;
    /* align-items: center; */
    /* margin: 0 10px; */
    /* background-color: blueviolet; */
  }
  .nav2-box{
    width: 180px;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
  }
  .header-nav2 ul{
    display: flex;
    list-style: none;
    font-family: 'SUITE-Regular';
    /* background-color: red; */
  }
  .header-nav2 ul li{
    display: flex;
    margin: 0 10px;
    /* background-color: antiquewhite; */
  }
/*===헤더가 종료되는 CSS===*/