/*공통 부분*/
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*/공통 부분*/
/*===헤더 시작입니다.===*/
.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* height: 120px; */
    /* background-color: antiquewhite; */
}
.header-container{
    width: 1200px;
    height: 120px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
}
.header-nav1{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 850px;
    height: 120px;
    display: flex;
    /* align-items: center; */
    margin: 0 10px 0 20px;
    /* background-color: pink; */
}

.logo{
    width: 100px;
    height: 120px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
}
.logo img{
    width: 100px;
    height: 100px;
}
.nav1{
    width: 650px;
    height: 90px;
    /* background-color: aqua; */
    margin: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.nav1 ul{
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* background-color: yellow; */
}
.nav1 ul li{
    margin: 0 10px;
}
.header-nav2{
    width: 180px;
    height: 120px;
    justify-content: center;
    font-family: 'SUITE-Regular';
    font-size: 18px;
    padding: 67px 0 20px 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
.nav2-box{
    display: inline-block;
    position: relative;
    /* background-color: gray; */
}
.nav2-box-a{
    margin-right: 20px;
}
.myList{
    position: absolute;
    display: none;
    width: 100px;
    height: 110px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 2;
}
.myList a{
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 3px;
    font-size: 16px;
    color: rgb(88, 87, 87);

    z-index: 2;
}
.myList a:hover{
    background-color: #f1f1f1;
}
.nav2-box:hover .myList{
    display: block;
}

/*===헤더가 종료되는 CSS===*/

/*메인 시작입니다.*/
.main-container{
    width: 100vw;
    height: 1200px;
    /* background-color: aqua; */
}
.main-nav-container{
    width: 100%;
    height: 30px;
    background-color: rgb(249, 147, 37);
    display: flex;
    justify-content: center;
}

.main-nav-container ul{
    list-style: none;
    display: flex;
    margin: 0 400px;
    line-height: 30px;
    margin-left: -170px;
}
.main-nav-container ul li{
    width: 85px;
    font-size: 14px;
    margin: 0 10px;
    text-align: center;
    /* background-color: pink; */
    /* font-weight: bold; */
}
.main-nav-container ul li :hover{
    border-bottom: 4px solid white;
    padding-bottom: 5px;
}
#main-nav-button{
    color: white;
}
#nav-title{
    margin: 20px 20px;
    font-size: 23px;
    padding: 20px 0;
    font-weight: bold;
}
.main-content{
    width: 100vw;
    height: 1200px;
    /* background-color: yellow; */
}
.main-content-container{
    width: 1000px;
    height: 1200px;
    margin: 0 auto; 
    /* background-color: antiquewhite; */
}
.content-title-box{
    width: 1000px;
    height: 80px;
    /* background-color: blue; */
}
.content-title-box div{
    width: 500px;
    height: 80px;
    margin: 0 auto;
    /* background-color: pink; */
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-bottom: 1px solid rgb(222, 220, 220);
    font-family: 'iceJaram-Rg';
}
table{
    font-family: 'SUITE-Regular';
    /* font-weight: bolder; */
    color: rgb(72, 71, 71);
    width: 950px;
    height: 850px;
    margin: 0 auto;
    margin-top: 40px;
}
tr{
    width: 900px;
    /* height: 25px; */
    background-color: rgb(249, 241, 225);
    border: 0.5px solid gray;
}
td{
    background-color: rgb(249, 250, 250);
}
th{
    width: 80px;
}
.content-name{
    height: 50px;
}
.content-name input{
    width: 120px;
    height: 30px;
    margin: 0 10px;
    text-indent: 10px;
}
.content-title{
    height: 50px;
}
.content-title input{
    width: 830px;
    height: 25px;
    margin: 0 10px;
    text-indent: 10px;
}
.content-text{
    height: 570px;
}
.content-text textarea{
    height: 550px;
    width: 810px;
    margin: 10px;
    padding: 10px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}
.addfile{
    height: 50px;
}
.addfile span{
    margin: 0 10px;
}
.addfile input , .private input{
    margin: 0 10px;
}
.private{
    height: 50px;
}
.buttons{
    width: 950px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: pink; */
    margin: 0 auto;
    margin-top: 30px;
}
.buttons button{
    width: 55px;
    height: 30px;
    margin: 0 5px;
    background-color: orange;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
#main-buttons{
    color: white;
}
.footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(243, 241, 241);
    font-family: 'SUITE-Regular';
    color: rgb(169, 168, 168);
}
.footer-container1{
    margin: 0 auto;
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1-content{
    margin: 5px 0;
    /* background-color: pink; */
    text-align: center;
}
.container1-content p{
    margin-bottom: 3px;
}
.footer-container2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer-container2 p {
    margin: 8px 0;
}
.container2-01{
    display: flex;
}
.container2-01-content{
    margin: 8px 10px;
}

/*첨부파일 관련 CSS 구성*/
.form-group {
    margin-bottom: 20px;
}

.file-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-wrap > li {
    list-style-type: none;
    width: 90px;
    height: 90px;
    margin: 0.5rem;
    border: 0.0625rem dashed #e1e1e1;
    border-radius: 8px;
    cursor: pointer;
}

.file-wrap > li:first-child {
    position: relative;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDM2djM2SDB6Ii8+PGcgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2Utd2lkdGg9IjEuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNCA0KSI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNMTQgN3YxNG03LTdINyIvPjxjaXJjbGUgY3g9IjE0IiBjeT0iMTQiIHI9IjE0Ii8+PC9nPjwvZz48L3N2Zz4=)
    no-repeat 50%;
}

.img-list {
    cursor: default;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMS41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0IDQpIj48cmVjdCB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHJ4PSIzLjUiLz48Y2lyY2xlIGN4PSI4LjU1NiIgY3k9IjguNTU2IiByPSIyLjMzMyIvPjxwYXRoIGQ9Ik0yOCAxOC42NjdsLTcuNzc3LTcuNzc4TDMuMTExIDI4Ii8+PC9nPjxwYXRoIGQ9Ik0wIDBoMzZ2MzZIMHoiLz48L2c+PC9zdmc+)
    no-repeat 50% #f2f2f2;
    position: relative;
}
/*첨부 파일 종료!*/