@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* height: 120px; */
    /* background-color: antiquewhite; */
}
.header-container{
    width: 1200px;
    height: 120px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
}
.header-nav1{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 850px;
    height: 120px;
    display: flex;
    /* align-items: center; */
    margin: 0 10px 0 20px;
    /* background-color: pink; */
}

.logo{
    width: 100px;
    height: 120px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
}
.logo img{
    width: 100px;
    height: 100px;
}
.nav1{
    width: 650px;
    height: 90px;
    /* background-color: aqua; */
    margin: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.nav1 ul{
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* background-color: yellow; */
}
.nav1 ul li{
    margin: 0 10px;
}
.header-nav2{
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-family: 'SUITE-Regular';
    font-size: 18px;
    /* align-items: center; */
    /* margin: 0 10px; */
    /* background-color: blueviolet; */
}
.nav2-box{
    width: 180px;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
}
.header-nav2 ul{
    display: flex;
    list-style: none;
    font-family: 'SUITE-Regular';
    /* background-color: red; */
}
.header-nav2 ul li{
    display: flex;
    margin: 0 10px;
    /* background-color: antiquewhite; */
}
.main-container{
    width: 100vw;
    height: 1200px;
    /* background-color: aqua; */
}
.main-nav-container{
    width: 100%;
    height: 30px;
    background-color: rgb(249, 147, 37);
    display: flex;
    justify-content: center;
}

.main-nav-container ul{
    list-style: none;
    display: flex;
    margin: 0 400px;
    line-height: 30px;
    margin-left: -170px;
}
.main-nav-container ul li{
    width: 85px;
    font-size: 14px;
    margin: 0 10px;
    text-align: center;
    /* background-color: pink; */
    /* font-weight: bold; */
}
.main-nav-container ul li :hover{
    border-bottom: 4px solid white;
    padding-bottom: 5px;
}
#main-nav-button{
    color: white;
}
#nav-title{
    margin: 20px 20px;
    font-size: 23px;
    padding: 20px 0;
    font-weight: bold;
}
.main-content{
    width: 100vw;
    height: 1200px;
    /* background-color: yellow; */
}
.main-content-container{
    width: 1000px;
    height: 1200px;
    margin: 0 auto; 
    /* background-color: antiquewhite; */
}
.content-title-box{
    width: 1000px;
    height: 80px;
    /* background-color: blue; */
}
.content-title-box div{
    width: 500px;
    height: 80px;
    margin: 0 auto;
    /* background-color: pink; */
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-bottom: 1px solid rgb(222, 220, 220);
    font-family: 'iceJaram-Rg';
}
table{
    font-family: 'SUITE-Regular';
    /* font-weight: bolder; */
    color: rgb(72, 71, 71);
    width: 950px;
    height: 850px;
    margin: 0 auto;
    margin-top: 40px;
}
tr{
    width: 900px;
    /* height: 25px; */
    background-color: rgb(249, 241, 225);
    border: 0.5px solid gray;
}
td{
    background-color: rgb(249, 250, 250);
}
th{
    width: 80px;
}
.content-name{
    height: 50px;
}
.content-name input{
    width: 120px;
    height: 30px;
    margin: 0 10px;
    text-indent: 10px;;
}
.content-title{
    height: 50px;
}
.content-title input{
    width: 830px;
    height: 25px;
    margin: 0 10px;
    text-indent: 10px;
}
.content-text{
    height: 570px;
}
.content-text textarea{
    height: 550px;
    width: 810px;
    margin: 10px;
    padding: 10px;
    resize: none;
}
.addfile{
    height: 50px;
}
.addfile span{
    margin: 0 10px;
}
.addfile input , .private input{
    margin: 0 10px;
}
.private{
    height: 50px;
}
.buttons{
    width: 950px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: pink; */
    margin: 0 auto;
    margin-top: 30px;
}
.buttons button{
    width: 55px;
    height: 30px;
    margin: 0 5px;
    background-color: orange;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
#main-buttons{
    color: white;
}
.footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(243, 241, 241);
    font-family: 'SUITE-Regular';
    color: rgb(169, 168, 168);
}
.footer-container1{
    margin: 0 auto;
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1-content{
    margin: 5px 0;
    /* background-color: pink; */
    text-align: center;
}
.container1-content p{
    margin-bottom: 3px;
}
.footer-container2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer-container2 p {
    margin: 8px 0;
}
.container2-01{
    display: flex;
}
.container2-01-content{
    margin: 8px 10px;
}