<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redmedicine.mapper.AdminMapper">
    <select id="select" resultType="userDto">
        SELECT TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_EMAIL, USER_PHONE, USER_BIRTH, USER_GENDER,
                         USER_LEVEL, USER_JOINDATE)
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <!-- 회원 정보 조회 (관리자에서 쓸것만 추리기)-->
    <select id="selectAll" resultType="userDto">
        SELECT RNUM, USER_NUMBER, USER_EMAIL, USER_NAME, USER_JOINDATE, USER_LEVEL
        FROM (

            SELECT ROWNUM AS RNUM, USER_NUMBER, USER_EMAIL, USER_NAME, USER_JOINDATE, USER_LEVEL
                FROM (
                    SELECT USER_NUMBER, USER_EMAIL, USER_NAME, USER_JOINDATE, USER_LEVEL
                    FROM TBL_USER
                    <choose>
                        <when test="'name'.equals(searchVo.cate)">
                            WHERE USER_NAME LIKE '%' || #{searchVo.keyword} || '%'
                        </when>
                        <when test="'counselor'.equals(searchVo.cate)">
                            WHERE USER_LEVEL = 2 AND USER_NAME LIKE '%' || #{searchVo.keyword} || '%'
                        </when>
                        <when test="'name'.equals(searchVo.cate)">
                            WHERE USER_LEVEL = 1 AND USER_NAME LIKE '%' || #{searchVo.keyword} || '%'
                        </when>
                    </choose>

                    ORDER BY USER_NUMBER DESC
                     ) X
            <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        ) Y
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
    </select>

    <delete id="delete">
        DELETE FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </delete>
</mapper>