<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redmedicine.mapper.NoticeMapper">
    <insert id="insert">
        <selectKey keyProperty="noticeNumber" order="BEFORE" resultType="long">
            SELECT SEQ_NOTICE.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_NOTICE (NOTICE_NUMBER, USER_NUMBER, NOTICE_TITLE, NOTICE_CONTENT)
        values (#{noticeNumber}, #{userNumber}, #{noticeTitle}, #{noticeContent})
    </insert>

    <select id="select" resultType="noticeVo">
        SELECT NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, N.USER_NUMBER, USER_NAME,
               NOTICE_DATE, U.USER_ID
        FROM TBL_NOTICE N JOIN TBL_USER U
                              ON N.USER_NUMBER = U.USER_NUMBER
        WHERE N.NOTICE_NUMBER = #{noticeNumber}
    </select>

    <select id="selectAll" resultType="noticeVo">
        SELECT RNUM, NOTICE_NUMBER, USER_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE,
        USER_NAME
        FROM (
            SELECT ROWNUM AS RNUM, NOTICE_NUMBER, USER_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE,
            USER_NAME
            FROM(
                SELECT NOTICE_NUMBER, N.USER_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE,
                U.USER_NAME
                FROM TBL_NOTICE N JOIN TBL_USER U
                ON N.USER_NUMBER = U.USER_NUMBER
                ORDER BY NOTICE_NUMBER DESC
            ) X
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        ) Y
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(NOTICE_NUMBER)
        FROM TBL_NOTICE
    </select>

    <delete id="delete">
        DELETE FROM TBL_NOTICE
        WHERE NOTICE_NUMBER = #{noticeNumber}
    </delete>

    <update id="update">
        UPDATE TBL_NOTICE
        SET NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT = #{noticeContent}, NOTICE_DATE = SYSDATE
        WHERE NOTICE_NUMBER = #{noticeNumber}
    </update>

    <select id="selectFirstNotice" resultType="noticeVo">
        SELECT NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, N.USER_NUMBER, USER_NAME,
               NOTICE_DATE, U.USER_ID
        FROM TBL_NOTICE N JOIN TBL_USER U
                               ON N.USER_NUMBER = U.USER_NUMBER
        WHERE N.NOTICE_NUMBER = 1
    </select>

    <select id="selectSecondNotice" resultType="noticeVo">
        SELECT NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, N.USER_NUMBER, USER_NAME,
               NOTICE_DATE, U.USER_ID
        FROM TBL_NOTICE N JOIN TBL_USER U
                               ON N.USER_NUMBER = U.USER_NUMBER
        WHERE N.NOTICE_NUMBER = 2
    </select>

</mapper>