<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redmedicine.mapper.ProfileMapper">
    <insert id="insertProfilePay">
        <selectKey keyProperty="profileNumber" order="BEFORE" resultType="long">
        SELECT SEQ_PROFILE.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_PROFILE (PROFILE_NUMBER, USER_NUMBER, PROFILE_SUPER, PROFILE_CAREER, PROFILE_FEE, PROFILE_TARGET, PROFILE_AREA, PROFILE_DAY, PROFILE_TIME, PROFILE_CONTENT)
            values (#{profileNumber},#{userNumber},#{profileSuper},#{profileCareer},#{profileFee},#{profileTarget},#{profileArea},#{profileDay},#{profileTime},#{profileContent})
    </insert>

    <insert id="insertProfileFree">
        <selectKey keyProperty="profileNumber" order="BEFORE" resultType="long">
        SELECT SEQ_PROFILE.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_PROFILE (PROFILE_NUMBER, USER_NUMBER, PROFILE_SUPER, PROFILE_CAREER, PROFILE_TARGET, PROFILE_AREA, PROFILE_DAY, PROFILE_TIME, PROFILE_CONTENT)
        values (#{profileNumber},#{userNumber},#{profileSuper},#{profileCareer},#{profileTarget},#{profileArea},#{profileDay},#{profileTime},#{profileContent})
    </insert>

    <delete id="deleteProfilePay">
        DELETE FROM TBL_PROFILE
        WHERE PROFILE_NUMBER = #{profileNumber}
    </delete>
    <delete id="deleteProfileFree">
        DELETE FROM TBL_PROFILE
        WHERE PROFILE_NUMBER = #{profileNumber}
    </delete>


    <select id="selectUserName" resultType="string">
        SELECT USER_NAME
        FROM  TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>


    <select id="selectUserLevel" resultType="long">
        SELECT USER_LEVEL
        FROM  TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="selectProfilePayNumber" resultType="profileVo">
        SELECT P.PROFILE_NUMBER, U.USER_NAME, PROFILE_CAREER, PROFILE_FEE, PROFILE_TARGET, PROFILE_AREA, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID
        FROM TBL_PROFILE P JOIN TBL_USER U
                                ON P.USER_NUMBER = U.USER_NUMBER
                           LEFT OUTER JOIN (
            SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID
            FROM (
                     SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID,
                            RANK() OVER(PARTITION BY PROFILE_NUMBER ORDER BY PF_FILE_NUMBER) RK
                     FROM TBL_PF_FILE
                 )
            WHERE RK = 1
        ) J1 ON P.PROFILE_NUMBER = J1.PROFILE_NUMBER
        WHERE PROFILE_FEE IS NOT NULL
        ORDER BY P.PROFILE_NUMBER
    </select>

    <select id="selectProfileFreeNumber" resultType="profileVo">
        SELECT P.PROFILE_NUMBER, U.USER_NAME, PROFILE_CAREER, PROFILE_FEE, PROFILE_TARGET, PROFILE_AREA, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID
        FROM TBL_PROFILE P JOIN TBL_USER U
                                ON P.USER_NUMBER = U.USER_NUMBER
                           LEFT OUTER JOIN (
            SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID
            FROM (
                     SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID,
                            RANK() OVER(PARTITION BY PROFILE_NUMBER ORDER BY PF_FILE_NUMBER) RK
                     FROM TBL_PF_FILE
                 )
            WHERE RK = 1
        ) J1 ON P.PROFILE_NUMBER = J1.PROFILE_NUMBER
        WHERE PROFILE_FEE IS NULL
        ORDER BY P.PROFILE_NUMBER
    </select>

    <select id="selectProfilePay" resultType="profileVo">
        SELECT P.PROFILE_NUMBER, U.USER_NAME, P.PROFILE_SUPER, P.PROFILE_CAREER, P.PROFILE_FEE, P.PROFILE_TARGET,
               P.PROFILE_AREA, J1.PF_FILE_ROUTE, J1.PF_FILE_NAME, J1.PF_FILE_UUID, P.PROFILE_CONTENT
        FROM TBL_PROFILE P JOIN TBL_USER U
                                ON P.USER_NUMBER = U.USER_NUMBER
                           LEFT OUTER JOIN (
            SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID
            FROM (
                     SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID,
                            RANK() OVER(PARTITION BY PROFILE_NUMBER ORDER BY PF_FILE_NUMBER) RK
                     FROM TBL_PF_FILE
                 )
            WHERE RK = 1
        ) J1 ON P.PROFILE_NUMBER = J1.PROFILE_NUMBER
        WHERE P.PROFILE_NUMBER = #{profileNumber}
        ORDER BY P.PROFILE_NUMBER
    </select>

    <select id="selectProfileFree" resultType="profileVo">
        SELECT P.PROFILE_NUMBER, U.USER_NAME, P.PROFILE_SUPER, P.PROFILE_CAREER, P.PROFILE_FEE, P.PROFILE_TARGET,
               P.PROFILE_AREA, J1.PF_FILE_ROUTE, J1.PF_FILE_NAME, J1.PF_FILE_UUID, P.PROFILE_CONTENT
        FROM TBL_PROFILE P JOIN TBL_USER U
                                ON P.USER_NUMBER = U.USER_NUMBER
                           LEFT OUTER JOIN (
            SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID
            FROM (
                     SELECT PROFILE_NUMBER, PF_FILE_ROUTE, PF_FILE_NAME, PF_FILE_UUID,
                            RANK() OVER(PARTITION BY PROFILE_NUMBER ORDER BY PF_FILE_NUMBER) RK
                     FROM TBL_PF_FILE
                 )
            WHERE RK = 1
        ) J1 ON P.PROFILE_NUMBER = J1.PROFILE_NUMBER
        WHERE P.PROFILE_NUMBER = #{profileNumber}
        ORDER BY P.PROFILE_NUMBER
    </select>



</mapper>

