<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redmedicine.mapper.UserMapper">
    <insert id="insert">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_EMAIL, USER_PHONE, USER_BIRTH, USER_GENDER,
        USER_LEVEL, USER_JOINDATE)
        values (#{userNumber}, #{userId}, #{userPassword}, #{userName}, #{userEmail}, #{userPhone}, #{userBirth}, #{userGender}, #{userLevel}, TO_CHAR(SYSDATE, 'YYYY-MM-DD'))
    </insert>

    <select id="selectUserNumber" resultType="long">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="select" resultType="userDto">
        SELECT * FROM TBL_USER
    </select>

    <update id="update">
        UPDATE TBL_USER
        SET USER_ID = #{userId}, USER_PASSWORD = #{userPassword},
            USER_NAME =#{userName}, USER_EMAIL = #{userEmail}, USER_PHONE=#{userPhone},
            USER_BIRTH = #{userBirth}, USER_GENDER= #{userGender}
        WHERE USER_NUMBER = #{userNumber}
    </update>
</mapper>