<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redmedicine.mapper.UserMapper">
    <insert id="insert">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_EMAIL, USER_PHONE, USER_BIRTH, USER_GENDER,
        USER_LEVEL, USER_JOINDATE)
        values (#{userNumber}, #{userId}, #{userPassword}, #{userName}, #{userEmail}, #{userPhone}, #{userBirth}, #{userGender}, #{userLevel}, SYSDATE)
    </insert>

    <select id="selectUserNumber" resultType="long">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="selectUserNumberByPassword" resultType="long">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_PASSWORD = #{userPassword}
    </select>

    <select id="selectUserNumberById" resultType="long">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectUserName" resultType="string">
        SELECT USER_NAME
        FROM  TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="selectUserLevel" resultType="long">
        SELECT USER_LEVEL
        FROM  TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

<!--    <select id="selectUserName" resultType="string">-->
<!--        SELECT USER_NAME-->
<!--        FROM  TBL_USER-->
<!--        WHERE USER_NUMBER = #{userNumber}-->
<!--    </select>-->

<!--    <select id="selectUserName" resultType="string">-->
<!--        SELECT USER_NAME FROM TBL_USER-->
<!--        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}-->
<!--    </select>-->

    <!--    <select id="select" resultType="userVo">-->
    <!--        SELECT USER_NUMBER, USER_ID, USER_NAME, USER_EMAIL, USER_LEVEL, U.DIARY_NUMBER,-->
    <!--               USER_JOINDATE-->
    <!--        FROM TBL_USER U JOIN TBL_DIARY D-->
    <!--                             ON U.DIARY_NUMBER = D.DIARY_NUMBER-->
    <!--        WHERE U.USER_NUMBER = #{userNumber}-->
    <!--    </select>-->

    <select id="select" resultType="userDto">
        SELECT USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_EMAIL, USER_PHONE, USER_BIRTH, USER_GENDER,
               USER_LEVEL, USER_JOINDATE
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="selectAll" resultType="userDto">
        SELECT USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_EMAIL, USER_PHONE, USER_BIRTH, USER_GENDER,
               USER_LEVEL, USER_JOINDATE
        FROM TBL_USER
    </select>

    <update id="update">
        UPDATE TBL_USER
        SET USER_ID = #{userId}, USER_PASSWORD = #{userPassword},
            USER_NAME =#{userName}, USER_EMAIL = #{userEmail}, USER_PHONE=#{userPhone}
        WHERE USER_NUMBER = #{userNumber}
    </update>
<!--    USER_BIRTH = #{userBirth}, USER_GENDER= #{userGender} 삭제 된 상태 update는 바꾸고 싶은것만!-->

    <update id="updatePw">
        UPDATE TBL_USER
        SET USER_PASSWORD = #{newPassword}
        WHERE USER_NAME = #{userName} AND USER_PHONE = #{userPhone}
    </update>

    <update id="updateLv">
        UPDATE TBL_USER
        SET USER_LEVEL = 3
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <select id="selectUserId" resultType="string">
        SELECT USER_ID
        FROM TBL_USER
        WHERE USER_NAME = #{userName} AND USER_PHONE = #{userPhone}
    </select>

    <!--유효성 검사시 중복되는 아이디를 찾기위해 => 아이디가 다르다면 이름과 이메일이 중복될 수 있다?-->
    <select id="selectId" resultType="_int">
        select count(USER_ID)
        FROM TBL_USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectUserPhoneNumber">
        SELECT USER_PHONE
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>
</mapper>